@model GdiPlataform.Db.gc_cfop_operacoes
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalCreateEditOperacao" }))
{
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.HiddenFor(model => model.id_cfop_operacao)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <div class="card-body m-0 p-0" style="height: 100%">
                        <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                            <div class="card-body m-1 p-1" style="height: 100%">
                                <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados da Operação</div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("ativo", "Ativo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2 text-sm-start" style="margin-top:10px">
                                        <div class="form-check form-switch form-switch-lg">
                                            @Html.CheckBoxFor(model => model.ativo, new { @class = "form-check-input switch-success", role = "switch" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("descricao", "Descrição", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", @onkeypress = "jsGcCfopOperacoesKeyPressed(event);" } })
                                    </div>
                                </div>
                                <div class="section-header"><i class="fa-solid fa-circle-info me-1" aria-hidden="true"></i>Parâmetros</div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("id_nfe_finalidade", "Finalidade", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-3 text-sm-start" style="margin-top:10px">
                                        @Html.EditorFor(model => model.id_nfe_finalidade, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("is_venda", "Venda?", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2 text-sm-start" style="margin-top:10px">
                                        <div class="form-check form-switch form-switch-lg">
                                            @Html.CheckBoxFor(model => model.is_venda, new { @class = "form-check-input switch-success", role = "switch" })
                                        </div>
                                    </div>
                                    @Html.Label("is_devolucao", "Devolução?", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2 text-sm-start" style="margin-top:10px">
                                        <div class="form-check form-switch form-switch-lg">
                                            @Html.CheckBoxFor(model => model.is_devolucao, new { @class = "form-check-input switch-success", role = "switch" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Confirmar Lançamento" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsAjaxCreateEditOperacao()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Confirmar Operação</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsAjaxCreateEditOperacao()
    {
        try
        {
            LibMessageProcessando("");
            var form = $('#FormModalCreateEditOperacao');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxCreateEditOperacao", "CfopOperacoes", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function () {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        $("#dtGcCfopOperacoes").DataTable().draw(false);
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })


                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsAjaxCreateEditOperacao] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


    function jsGcCfopOperacoesKeyPressed(e)
    {
        if (e.keyCode == 13)
        {
            jsCheckInputs();
        }
    }

</script>


