@model GdiPlataform.Db.g_centros_custos
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreateEdit_gCentrosCustos" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(@ViewBag.Title)</h5>
                    @Html.HiddenFor(model => model.id_centro_custo)
                    @Html.HiddenFor(model => model.id_usuario_cadastro)
                    @Html.HiddenFor(model => model.datahora_cadastro)
                    @Html.HiddenFor(model => model.id_coligada)
                    @Html.HiddenFor(model => model.id_filial)
                </div>
                <div class="card-body m-0 p-0" style="height: 100%">
                    <div class="form-horizontal m-0 p-0">
                        <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                            <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados do Centro de Custo</div>
                            <div class="card-body m-0 p-1" style="height: 100%">
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("Ativo", "Ativo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-1 text-sm-start" style="margin-top:7px">
                                        <div class="form-check form-switch">
                                            @Html.CheckBoxFor(model => model.ativo, new { @class = "form-check-input", role = "switch" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("codigo", "Código", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="col-sm-2 text-sm-start" style="margin-top:7px">
                                        <div class="form-check form-switch d-inline-flex align-items-center flex-nowrap">
                                            @Html.CheckBoxFor(model => model.consolidador, new { @class = "form-check-input", role = "switch" })
                                            <span class="form-check-label ms-1 mb-0">Consolidador</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("id_centro_custo_pai", "CC Pai", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.id_centro_custo_pai, ViewBag.comboCentroCustoPai as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("nome", "Nome", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", data_autofocus = "true" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between m-0 p-1">
                    <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="window.location.href='@Url.Action("", "CentrosCustos", new { area = "g" })'" value="Redirect"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                    <button type="button" name="btnSalvar" title="Salvar" onclick="jsSalvarDados()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa fa-save me-2" aria-hidden="true"></i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsLoadForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSalvarDados()
    {
        try
        {
            if (isEmpty($('#nome').val().toString().trim())) {
                LibMessageAlert("Atenção", "Campo <b>Nome</b> é de preenchimento obrigatório!<br/>");
            }
            else {
                LibMessageProcessando("Salvando Dados . . .")
                $("#formCreateEdit_gCentrosCustos").submit();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSalvarDados] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
