@model IEnumerable<GdiPlataform.Db.g_centros_custos>
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-lg-12 m-0 p-0">
        <div class="card m-0 p-0">
            <div class="card-title m-0 p-1">
                <h5>@ViewBag.Title</h5>
                <input type="hidden" id="yesFilterField" value="" name="yesFilterField" />
                <input type="hidden" id="yesFilterOperador" value="" name="yesFilterOperador" />
                <input type="hidden" id="yesFilterText" value="" name="yesFilterText" />
                <input type="hidden" id="yesFilterAdvancedText" value="" name="yesFilterAdvancedText" />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="card-header m-0 p-1">
                @if ((CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_*")) || (CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_Actioncreate")))
                {<button type="button" name="btnRegistroNovo" title="Novo Registro" class="btn btn-outline-success d-inline-flex align-items-center gap-2" onclick="JsNewRecord('@Url.Action("Create","CentrosCustos",new { Area = "g" })')"><i class="fa fa-plus me-2" aria-hidden="true"></i>Novo</button> }
                else
                { <button type="button" name="btnRegistroNovo" title="Novo Registro - Não Liberado" class="btn btn-outline-success disabled d-inline-flex align-items-center gap-2"><i class="fa fa-plus me-2" aria-hidden="true"></i>Novo</button>}

                @if ((CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_*")) || (CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_Actionupdate")))
                {<button type="button" name="btnRegistroEditar" title="Editar Registro" class="btn btn-outline-warning d-inline-flex align-items-center gap-2" onclick="jsYesEditRecordJsTree(ojsTree, '@Url.Action("Edit","CentrosCustos",new { Area = "g" })/')"><i class="fa-regular fa-edit me-2" aria-hidden="true"></i>Editar</button> }
                else
                { <button type="button" name="btnRegistroEditar" title="Editar Registro - Não Liberado" class="btn btn-outline-warning disabled d-inline-flex align-items-center gap-2"><i class="fa-regular fa-edit me-2" aria-hidden="true"></i>Editar</button>}

                @if ((CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_*")) || (CachePersister.userIdentity.Roles.Contains("g_CentrosCustos_Actiondelete")))
                {<button type="button" name="btnRegistroExcluir" title="Excluir Registro" class="btn btn-outline-danger disabled d-inline-flex align-items-center gap-2"><i class="fa-regular fa-trash-alt me-2" aria-hidden="true"></i>Excluir</button> }
                else
                { <button type="button" name="btnRegistroExcluir" title="Excluir Registro - Não Liberado" class="btn btn-outline-danger disabled d-inline-flex align-items-center gap-2"><i class="fa-regular fa-trash-alt me-2" aria-hidden="true"></i>Excluir</button>}
            </div>
            <div class="card-body m-0 p-1" style="max-width: 100%; overflow-x: auto; ">
                <div class="table-responsive scroll-body-horizontal" style="width:100%">
                    <div id="jsTree"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var ojsTree;

    $(function ()
    {
        try
        {
            jsInitForm();
            jsLoadTree();
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsLoadForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsLoadTree()
    {
        try
        {
            ojsTree = $('#jsTree').jstree({
                'core': {
                    'data': {
                        'url': '@Url.Action("GetTreeViewCentroCusto", "CentrosCustos", new { Area = "g" })',
                        'dataType' : 'json'
                    }
                }
            });
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsLoadTree] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
