@model GdiPlataform.Db.g_financeiro_faturamentos
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalEnviarNFEmailCliente_gFinanceiroFaturamentos" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-file-alt fa-sm" aria-hidden="true"></i>
    @ViewBag.Title</h5>
                @Html.HiddenFor(model => model.id_financeiro_faturamento)                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Id", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Label("Id", Model.id_financeiro_faturamento.ToString())
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Faturamento", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Label("Faturamento", Model.descricao.ToString())
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Qtd Nfe", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Label("Nfe", (string)ViewBag.qtdNfe)
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Clientes Notificados", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Label("Notificacao1", (string)ViewBag.clientesNotificados)
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Vendedores Notificados", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Label("Notificacao2", (string)ViewBag.vendedoresNotificados)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" class="btn btn-outline-info float-start d-inline-flex align-items-center gap-2" onclick="jsSimularEnvioNFE()"><i class="fa-solid fa-sync me-2" aria-hidden="true"></i>Simular</button>
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning dt-center d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Confirmar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Confirmar</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });


    function jsSimularEnvioNFE()
    {
        try
        {
            LibMessageProcessando("Simulação de Envio de Emails . . .")
            var form = $('#formModalEnviarNFEmailCliente_gFinanceiroFaturamentos');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("ajaxSimularEnviarNFEmailCliente", "FinanceiroFaturamentos", new { area = "g" })',
                data: form.serialize(),
                success: function (result) {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        GdiSwal2.dialog({
                            title: 'Simulação de Envio NFe Por E-mail',
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar:
                                {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        $("#dtGFinanceiroFaturamentos").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        if (result.idProcessamento != "0")
                                        {
                                            window.location = '@Url.Action("ajaxGetFileProcessamento", "Global", new { Area = "g" })' + "?id=" + result.idProcessamento;
                                        }
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        LibMessageProcessandoHide();
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result) {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsSimularEnvioNFE] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando("Envio de Emails . . .")
            var form = $('#formModalEnviarNFEmailCliente_gFinanceiroFaturamentos');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("ajaxProcessarEnviarNFEmailCliente", "FinanceiroFaturamentos", new { area = "g" })',
                data: form.serialize(),
                success: function (result) {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        GdiSwal2.dialog({
                            title: 'Processando Envio NFe Por E-mail',
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar:
                                {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        $("#dtGFinanceiroFaturamentos").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        if (result.idProcessamento != "0")
                                        {
                                            window.location = '@Url.Action("ajaxGetFileProcessamento", "Global", new { Area = "g" })' + "?id=" + result.idProcessamento;
                                        }
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        LibMessageProcessandoHide();
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result) {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


    function jssSendForm123456()
    {
        try {
            LibMessageProcessando("Enviando Emails . . .")
            var form = $('#formModalEnviarNFEmailCliente_gFinanceiroFaturamentos');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxEnviarNFEmailCliente", "FinanceiroFaturamentos", new { area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        $("#dtGFinanceiroFaturamentos").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Verifique as inconsistências!</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        $("#dtGFinanceiroFaturamentos").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString())
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jssSendForm123456] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>


