@model GdiPlataform.Db.g_requisicoes
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreateEdit_gRequisicoes" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(@ViewBag.Title)</h5>
                    @Html.HiddenFor(model => model.id_requisicao)
                    @Html.HiddenFor(model => model.id_requisicao_tipo)
                    @Html.HiddenFor(model => model.tipo_solicitante)
                    @Html.HiddenFor(model => model.id_perfil_responsavel)
                    @Html.HiddenFor(model => model.id_usuario_responsavel)
                    @Html.HiddenFor(model => model.id_usuario_requisicao)
                    @Html.HiddenFor(model => model.notificacao_requisicao)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-body m-0 p-1" style="height: 100%">
                    <div class="form-horizontal m-0 p-0">
                        <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                            <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados das Requisições</div>
                            <div class="card-body m-0 p-1" style="height: 100%">
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("Tipo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4 text-sm-start" style="margin-top:5px">
                                        @Html.Label("Tipo", (string)ViewBag.TipoRequisicao)
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.datahora_requisicao, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.datahora_requisicao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.descricao_solicitacao, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-6">
                                        @Html.TextAreaFor(model => model.descricao_solicitacao, new { @class = "form-control", @rows = "3" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.descricao_solucao, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-6">
                                        @Html.TextAreaFor(model => model.descricao_solucao, new { @class = "form-control", @rows = "3", data_autofocus = "true" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between m-0 p-1">
                    <button type="button" name="btnCancelar" title="Cancelar Atendimento" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="jsYesCancelRecord('@Url.Action("","Requisicoes",new { Area = "g" })')"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar Atendimento</button>
                    <button type="button" name="btnSalvar" title="Concluir Atendimento" onclick="jsSalvarDados()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Concluir Atendimento</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">


    $(function ()
    {
        try {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSalvarDados()
    {
        try {
            if (isEmpty($('#descricao_solucao').val().toString().trim())) {
                LibMessageAlert("Atenção", "Campo <b>Descrição</b> é de preenchimento obrigatório!<br/>");
            }
            else {
                LibMessageProcessando("Salvando Dados . . .")
                $("#formCreateEdit_gRequisicoes").submit();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSalvarDados] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>
