@model GdiPlataform.Db.gc_movimentos
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalPedidoConverterMoeda" }))
{
    <div class="modal-dialog modal-full modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h4 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-clipboard-list fa-sm" aria-hidden="true"></i>
    @Html.Raw((String)ViewBag.Title)</h4>
                @Html.HiddenFor(model => model.id_movimento)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <div class="card m-0 p-0">
                        <div class="card-body m-0 p-0" style="height: 100%">
                            @if (!string.IsNullOrEmpty(ViewBag.MsgBloqueio as string))
                            {
                                @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(ViewBag.MsgBloqueio as string, "danger"))
                            }
                            else
                            {
                                if (Model.id_moeda == 1)
                                {
                                    <div class="card-header m-0 p-1" style="background-color: #f2f2f2;"><b>Converter Moeda (R$ > US$)</b>&nbsp;&nbsp;&nbsp;<img src="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/flag_brazil.png" style="height:24px;width:24px;margin-top:-5px;" />&nbsp;&nbsp;->&nbsp;&nbsp;<img src="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/flag_usa.png" style="height:24px;width:24px;margin-top:-5px;" /></div>
                                    <div class="form-group row text-sm-end m-3 p-1">
                                        @Html.Label("cotacao_dolar_aplicada", "Cotação Dolar (R$)", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.cotacao_dolar_venda, new { htmlAttributes = new { @class = "form-control", data_autofocus = "select" } })
                                        </div>
                                    </div>
                                }
                                else if (Model.id_moeda == 2)
                                {
                                    <div class="card-header m-0 p-1" style="background-color: #f2f2f2;"><b>Converter Moeda(US$ > R$)</b>&nbsp;&nbsp;&nbsp;<img src="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/flag_usa.png" style="height:24px;width:24px;margin-top:-5px;" />&nbsp;&nbsp;->&nbsp;&nbsp;<img src="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/flag_brazil.png" style="height:24px;width:24px;margin-top:-5px;" /></div>
                                    <div class="form-group row text-sm-end m-3 p-1">
                                        @Html.Label("cotacao_dolar_aplicada", "Cotação Dolar (R$)", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.cotacao_dolar_venda, new { htmlAttributes = new { @class = "form-control", data_autofocus = "select" } })
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                @if (string.IsNullOrEmpty(ViewBag.MsgBloqueio as string)) { <button type="button" id="btnSalvar" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Converter Moeda Movimento</button> }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try
        {
            document.getElementById('btnSalvar').disabled = true;
            LibMessageProcessando();
            var form = $('#FormModalPedidoConverterMoeda');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxModalPedidoConverterMoeda", "Movimentos", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function ()
                                    {
                                        $("#dataTableGCIndexPedido").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        document.getElementById('btnSalvar').disabled = false;
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    document.getElementById('btnSalvar').disabled = false;
                    GdiAjaxNotifyInconsistencias(result.msg)
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>




