@model GdiPlataform.Areas.gc.Models.cstNfeCartaCorrecao
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalPedidoCartaCorrecao" }))
{
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h4 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-clipboard-list fa-sm" aria-hidden="true"></i>
    @Html.Raw((String)ViewBag.Title)</h4>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <div class="card m-0 p-1">
                        <div class="card-body m-0 p-1" style="height: 100%">
                            @if (Model.CartaCorrecaoLiberada == true)
                            {
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("id_movimento_nf", "NF", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(model => model.id_movimento_nf, ViewBag.comboNfeCartaCorrecao as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("correcao", "Correção", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.correcao, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    <div class="col-sm-12 text-sm-start">
                                        @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(Model.msg != null ? Model.msg.ToString() : null, "danger"))
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                @if (Model.CartaCorrecaoLiberada == true)
                {
                    <button type="button" id="btnSalvar" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Enviar Dados Correção</button>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try
        {
            document.getElementById('btnSalvar').disabled = true;
            LibMessageProcessando();
            var form = $('#FormModalPedidoCartaCorrecao');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxModalPedidoCartaCorrecao", "Movimentos", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function ()
                                    {
                                        $("#dataTableGCIndexPedido").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        document.getElementById('btnSalvar').disabled = false;
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    document.getElementById('btnSalvar').disabled = false;
                    GdiAjaxNotifyInconsistencias(result.msg)
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>


