@model GdiPlataform.Db.gc_movimentos
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormGcMovimentosCompraCreateCotacaoPedidoCompra" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(@ViewBag.Title)</h5>
                    <input type="hidden" id="yesTipoSolicitacao" value="" name="yesTipoSolicitacao" />
                    @Html.HiddenFor(model => model.id_movimento)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-header m-0 p-1">
                    <div class="form-horizontal m-0 p-0">
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("Tipo", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-2">
                                @Html.DropDownList("id_movimento_tipo", ViewBag.comboTiposMovimentosCreateEdit as List<SelectListItem>, htmlAttributes: new { @id = "id_movimento_tipo", @class = "form-control", @title = "Cotação/Pedido/OS" })
                            </div>
                            @Html.Label("Moeda", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-2">
                                @Html.DropDownList("id_moeda", ViewBag.comboMoedas as List<SelectListItem>, htmlAttributes: new { @id = "id_moeda", @class = "form-control" })
                            </div>
                            @Html.Label("order", "Nº Cotação", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-2">
                                @Html.EditorFor(model => model.oc_numero, new { htmlAttributes = new { @class = "form-control", @title = "Nº Cotação/Pedido", @placeholder = "Nº Cotação/Pedido" } })
                            </div>
                        </div>
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("Cliente", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-7">
                                @Html.DropDownList("id_cliente", ViewBag.comboClientes as List<SelectListItem>, htmlAttributes: new { @id = "id_cliente", @class = "form-control", @onfocus = "jsSetDadosCliente();", @onchange = "jsSetDadosCliente();", @onblur = "jsSetDadosCliente();" })
                            </div>
                            @Html.Label("Solicitante", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-2">
                                @Html.DropDownList("id_vendedor", ViewBag.comboVendedores as List<SelectListItem>, htmlAttributes: new { @id = "id_vendedor", @class = "form-control", @title = "Vendedor" })
                            </div>
                        </div>
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("Fornecedor", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-7">
                                @Html.DropDownList("id_cliente", ViewBag.comboClientes as List<SelectListItem>, htmlAttributes: new { @id = "id_cliente", @class = "form-control", @onfocus = "jsSetDadosCliente();", @onchange = "jsSetDadosCliente();", @onblur = "jsSetDadosCliente();" })
                            </div>
                            @Html.Label("Data Venc", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-2">
                                @* id do .input-group distinto do input (data_vencimento) para Tempus Dominus *@
                                <div class='input-group date' id='ig_gc_compras_cot_ped_venc'>
                                    @Html.EditorFor(model => model.data_vencimento, new { htmlAttributes = new { @class = "form-control", type = "text", @title = "Data de Vencimento" } })
                                    <span class="input-group-text"><i class="fa-regular fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("obs", "Obs. Cotação", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(model => model.obs, new { @class = "form-control", @id = "obs", @rows = "3", @title = "Informações adicionais (internas)", @placeholder = "Informações adicionais (internas)" })
                            </div>
                        </div>
                        <div class="form-group row text-sm-end m-0 pt-1">
                        </div>
                    </div>
                </div>
                <div class="card-body m-0 p-1" style="height: 100%">
                    <div class="form-horizontal" style="margin-top:5px; margin-left:5px">
                        <div class="table-responsive scroll-body-horizontal" style="width:100%">
                            <div class="card-body m-0 p-1" style="max-width: 100%; overflow-x: auto; ">
                                <table class="table table-sm table-striped table-hover align-middle w-100 display compact" style="width:100%" id="dtGcMovimentosCreatePedidoCompra">
                                    <thead>
                                        <tr>
                                            <th align="center" vertical-align="middle">[x]</th>
                                            <th>@Html.DisplayName("Id")</th>
                                            <th>@Html.DisplayName("Nº")</th>
                                            <th>@Html.DisplayName("Qtd")</th>
                                            <th>@Html.DisplayName("Produto")</th>
                                            <th>@Html.DisplayName("Unit")</th>
                                            <th>@Html.DisplayName("Total")</th>
                                            <th><i class="fa-solid fa-copy"></i></th>
                                            <th><i class="fa-regular fa-edit"></i></th>
                                            <th><i class="fa fa-trash"></i></th>
                                        </tr>
                                    </thead>
                                    <tfoot align="right">
                                        <tr>
                                            <th align="right" colspan="6"></th>
                                            <th align="right">@Html.Label("label_total_pedido", "R$", htmlAttributes: new { @id = "label_total_pedido" })</th>
                                            <th align="right" colspan="3"></th>
                                        </tr>
                                    </tfoot>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-sm-center m-0 p-1">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                @if ((Model.id_movimento_status <= 2) && (@Model.movimento_nf == false))
                                {
                                    <button type="button" name="btnImportarExcelSC" title="Importar Excel - Southern Cross" onclick="jsModalImportarExcelSC()" class="btn btn-outline-secondary d-inline-flex align-items-center gap-2"><i class="fa-regular fa-file-excel me-2" aria-hidden="true"></i>Importar Excel - Southern Cross</button>
                                }
                            </div>
                            <div class="col-4">
                                @if ((Model.id_movimento_status <= 2) && (@Model.movimento_nf == false))
                                {
                                    <button type="button" name="btnInserirItem" title="Inserir Itens" onclick="jsModalInserirItem()" class="btn btn-outline-secondary d-inline-flex align-items-center gap-2"><i class="fa fa-plus me-2" aria-hidden="true"></i>Inserir Itens</button>
                                }
                            </div>
                            <div class="col-4">
                                <!-- <button type="button" name="btnVisualizar" title="Salvar" class="btn btn-outline-info d-inline-flex align-items-center gap-2" onclick="jsCheckSavePedido(2)"><i class="fa-solid fa-file-pdf me-2" aria-hidden="true"></i>Visualizar</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer justify-content-between m-0 p-1">
                        <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="jsYesCancelRecord('@Url.Action("IndexCompras","MovimentosCompras",new { Area = "gc" })')"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                        @if ((Model.id_movimento_status <= 2) && (@Model.movimento_nf == false))
                        {<button type="button" name="btnSalvar" title="Salvar" class="btn btn-success float-end d-inline-flex align-items-center gap-2" onclick="jsCheckSavePedido(1)"><i class="fa fa-save me-2" aria-hidden="true"></i>Salvar</button>}
                    </div>
                </div>
            </div>
        </div>
    }

<script type="text/javascript">

    var oTableGcMovimentosCreatePedido;

    $(function ()
    {
        try
        {
            jsInitForm();
            jsDatepicker('#ig_gc_compras_cot_ped_venc');
            jsSetDadosCliente();
            jsCreateTableGcMovimentos();
            jsSetCamposReadOnly(1);
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
            if ('@Model.movimento_nf'.toLowerCase() == 'true')
            {
                LibMessageAlert("<b>Atenção</b>", "Prezado usuário,<br/>Os dados desse movimento <b>NÃO</b> poderão ser alterados,<br/>Existem Notas Fiscais relacionadas!");
            }
            else if (@Model.id_movimento_status == 2)
            {
                LibMessageAlert("<b>Atenção</b>", "Prezado usuário,<br/>Esse Pedido encontra-se com status <b>FECHADO</b><br/>Caso seja realizada alguma alteração nos dados, todos os documentos relacionados ao pedido deverão ser atualizados (Fechamento, Notas Fiscais, Financeiro).<br/><br/><b>Obs: O log dessa alteração será gravado no banco de dados</b>");
            }
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });


    function jsSetCamposReadOnly(disable)
    {
        try
        {
            if (disable == 1)
            {
                if (@Model.id_movimento > 0)
                {
                    $('#id_moeda').attr('disabled', true);
                    //$('#id_cliente').attr('disabled', true);
                }
            }
            else
            {
                $('#id_moeda').attr('disabled', false);
                //$('#id_cliente').attr('disabled', false);
            }
        }
        catch (err)
        {
            LibMessageProcessandoHide();
            LibMessageError("Atenção", "[jsSetCampos] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsSetDadosCliente()
    {
        try
        {
            $('#id_cliente_contato').children('option:not(:first)').remove();

            var array = @Html.Raw(Json.Encode(@ViewBag.dataSetClientesContatos));
            if (($("#id_cliente").val() != undefined) && ($("#id_cliente").val() != null) && ($("#id_cliente").val() != ""))
            {

                for (var i = 0; i < array.length; i++) {
                    if ($("#id_cliente").val() == array[i].id_cliente) {
                        $("#id_cliente_contato").append('<option value="' + array[i].id_cliente_contato + '">' + "[ " + array[i].contato + ' - ' + array[i].email + " ]"+ '</option>');
                    }
                }

                const result = array.find(obj => obj.id_cliente === parseInt($("#id_cliente").val()));
                if ((result != undefined) && (result != null))
                {
                    // $("#id_cliente_contato").append('<option value="' + result.id_cliente_contato + '">' + result.contato + ' - ' + result.email + '</option>');
                    // var options = "";
                    // options = options + '<option value="' + result.id_cliente_contato + '" selected>' + result.contato + ' - ' + result.email + '</option>';
                    // alert(options);
                }
            }
        }
        catch (err)
        {
            LibMessageError("Atenção", err != null ? String(err) : "");
        }
    }


    function jsCreateTableGcMovimentos()
    {
        try
        {
            if (oTableGcMovimentosCreatePedido == null)
            {
                $.fn.dataTable.ext.errMode = 'none';
                oTableGcMovimentosCreatePedido = $('#dtGcMovimentosCreatePedidoCompra').on('error.dt', function (e, settings, techNote, message) { GdiDtNotifyLoadFailure(message); }).on('xhr.dt', function (e, settings, json, xhr) { document.getElementById("label_total_pedido").innerHTML = json.yesDisplayField01; }).dataTable({
                processing: true,
                bServerSide: true,
                ajax: {
                    url: '@Url.Action("GetDadosItensPedido", "Movimentos", new { area = "gc" })',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    data: function (d) {
                        return {
                            sEcho: d.draw,
                            iDisplayStart: d.start,
                            iDisplayLength: d.length,
                            yesCustomIdPK: '@ViewBag.idMovimento',
                        };
                    },
                    error: function (xhr, textStatus, errorThrown) { GdiDtNotifyLoadFailure(errorThrown); }
                },
                responsive: true,
                bFilter: false,
                bLengthChange: false,
                bProcessing: true,
                pageLength: 30,
                scrollX: false,
                scrollCollapse: false,
                fixedColumns: false,
                bAutoWidth: false,
                pagingType: 'full_numbers',
                aoColumnDefs: [
                    { "width": "4%", orderable: false, className: 'text-sm-center align-middle', targets: [0], render: DataTable.render.select() },
                    { "width": "4%", orderable: false, className: 'text-sm-center', targets: [1] },
                    { "width": "4%", orderable: false, className: 'text-sm-center', targets: [2] },
                    { "width": "4%", orderable: false, className: 'text-sm-center', targets: [3] },
                    { "width": "52%", orderable: false, className: 'text-sm-center', targets: [4] },
                    { "width": "10%", orderable: false, className: 'text-sm-center', targets: [5] },
                    { "width": "10%", orderable: false, className: 'text-sm-center', targets: [6] },
                    { "width": "4%", orderable: false, className: 'text-sm-center dt-no-row-select', targets: [7], data: null, defaultContent: "", render: function (data, type, row, meta) { return '<button type="button" name="btnDuplicateRow" title="Duplicar item ' + data[4] + '" class="btn btn-outline-info btn-sm p-1 btnDuplicateRow d-inline-flex align-items-center" onclick="jsDuplicateRow(' + data[1] + ');"><i class="fa-solid fa-copy"></i></button>' } },
                    { "width": "4%", orderable: false, className: 'text-sm-center dt-no-row-select', targets: [8], data: null, defaultContent: "", render: function (data, type, row, meta) { return '<button type="button" name="btnEditRow" title="Editar item ' + data[4] + '" class="btn btn-outline-warning btn-sm p-1 btnEditRow d-inline-flex align-items-center" onclick="jsEditRow(' + data[1] + ');"><i class="fa-regular fa-edit"></i></button>' } },
                    { "width": "4%", orderable: false, className: 'text-sm-center dt-no-row-select', targets: [9], data: null, defaultContent: "", render: function (data, type, row, meta) { return '<button type="button" name="btnDelRow" title="Excluir item ' + data[4] + '" class="btn btn-outline-danger btn-sm p-1 btnDelRow d-inline-flex align-items-center" onclick="jsDeleteRow(' + data[1] + "," + "\'" + data[3] + "\'" + ');"><i class="fa fa-trash"></i></button>' } }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:not(.dt-no-row-select)',
                    headerCheckbox: true
                },
                order: [[1, 'asc']],

                language:
                {
                    sEmptyTable: 'Nenhum registro encontrado',
                    sInfo: 'Mostrando de _START_ ate _END_   [ _TOTAL_ registros total ]',
                    sInfoEmpty: 'Mostrando 0 ate 0 de 0 registros',
                    sInfoFiltered: ' (Filtrados de _MAX_ registros)',
                    sInfoPostFix: '',
                    sInfoThousands: '.',
                    sLengthMenu: '_MENU_ registros por página',
                    sZeroRecords: 'Nenhum registro encontrado',
                    sSearch: 'Pesquisar',
                    oPaginate:
                    {
                        sNext: '>',
                        sPrevious: '<',
                        sFirst: '<<',
                        sLast: '>>'
                    },
                    select: {
                        rows: {
                            0: "",
                            1: " [ %d registro selecionado ] ",
                            _: " [ %d registros selecionados ] "
                        }
                    }
                },
                oAria: {
                    sSortAscending: ': Ordenar colunas de forma ascendente',
                    sSortDescending: ': Ordenar colunas de forma descendente'
                }
                });
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCreateTable] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsDuplicateRow(id)
    {
        try {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                LibMessageProcessando("");
                $("#mainModal").load('@Url.Action("ModalDuplicateItemCompra", "MovimentosCompras", new { area = "gc" })?idMovimentoItem=' + id, function () {
                    var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                })
            }
            else
            {
                LibMessageAlert("Atenção", "Alteração não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsDuplicateRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsEditRow(id)
    {
        try
        {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                LibMessageProcessando("");
                $("#mainModal").load('@Url.Action("ModalEditarItemCompra", "MovimentosCompras", new { area = "gc" })?IdItem=' + id, function () {
                    var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                })
            }
            else
            {
                LibMessageAlert("Atenção", "Alteração não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsEditRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsDeleteRow(id, produto)
    {
        try {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                GdiSwal2.dialog({
                    title: "<i class='fa-solid fa-question' style='color:#ff9900'>&nbsp&nbsp</i><b>Confirmação</b>",
                    message: "Confirma a exclusão do item ?" + "<br/><br/>" + "<b>" + produto + "</b>",
                    closeButton: false,
                    centerVertical: true,
                    onEscape: false,
                    backdrop: true,
                    buttons: {
                        cancelar: {
                            label: '<i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar',
                            className: 'btn-outline-warning',
                            callback: function () {
                                GdiSwal2.hideAll();
                            }
                        },
                        confirmar: {
                            label: '<i class="fa-solid fa-save me-2" aria-hidden="true"></i>Confirmar',
                            className: 'btn-outline-success',
                            callback: function ()
                            {
                                jsAjaxDeleteItem(id);
                            }
                        }
                    }
                });
            }
            else
            {
                LibMessageAlert("Atenção", "Exclusão não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsDeleteRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsAjaxDeleteItem(id)
    {
        try {
            LibMessageProcessando("");
            var dataForm =
            {
                record_gc_movimento_item:
                {
                    'id_movimento_item': id,
                }
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxRemoverItemCompra", "MovimentosCompras", new { area = "gc" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataForm),
                dataType: "json",
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        $("#dtGcMovimentosCreatePedido").DataTable().draw(false);
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsAjaxDeleteItem] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsCheckSavePedido(acao) // Acao | 1 - Salvar | 2 = Visualizar
    {
        try
        {
            var $tbl = $("#dtGcMovimentosCreatePedidoCompra");
            var qtdItens = ($.fn.DataTable.isDataTable($tbl) ? $tbl.DataTable().page.info().recordsTotal : 0);
            if ((qtdItens > 0)
            && (document.getElementById("id_cliente").value != null)
            && (document.getElementById("id_cliente").value != "")
            && (document.getElementById("id_cliente").value != "-1")
            && (document.getElementById("id_cliente").value != undefined)
            && (jsGetDateDDMMYYYY(jsDatepickerGetDate('#ig_gc_compras_cot_ped_venc')) != undefined)
            && (jsGetDateDDMMYYYY(jsDatepickerGetDate('#ig_gc_compras_cot_ped_venc')) != ""))
            {
                if (acao == 1) { jsAjaxSavePedidoCompra(); }
                else if (acao == 2) { jsAjaxSavePedidoCompra(); };
            }
            else
            {
                if (qtdItens === 0)
                {
                    LibMessageAlert("Atenção", "Informe os Itens!");
                }
                else
                {
                    LibMessageAlert("Atenção", "Preencha corretamente todos os campos!");
                }
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckSavePedido] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsAjaxSavePedidoCompra()
    {
        try
        {
            LibMessageProcessando("");
            jsSetCamposReadOnly(0);
            var form = $('#FormGcMovimentosCompraCreateCotacaoPedidoCompra');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxSavePedidoCompra", "MovimentosCompras", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    if (result.success == true)
                    {
                        LibMessageProcessandoHide();
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            size: 'extra-large',
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function ()
                                    {
                                        GdiSwal2.hideAll();
                                        jsYesCancelRecord('@Url.Action("IndexCompras","MovimentosCompras",new { Area = "gc" })');
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        LibMessageProcessandoHide();
                        jsSetCamposReadOnly(1);
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    LibMessageProcessandoHide();
                    jsSetCamposReadOnly(1);
                    GdiAjaxNotifyInconsistencias(result.msg);
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsAjaxSavePedido] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsAjaxVisualizarPedido()
    {
        try
        {
            LibMessageProcessando("");
            jsSetCamposReadOnly(0);
            var form = $('#FormGcMovimentosCreatePedido');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxVisualizarPedido", "Movimentos", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    jsSetCamposReadOnly(1);
                    if (result.success == true)
                    {
                        endereco = '@Url.Action("AjaxViewInvoicePDF", "Movimentos", new { area = "gc" })' + '?id=' + result.idPedido;
                        window.open(endereco);
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    jsSetCamposReadOnly(1);
                    GdiAjaxNotifyInconsistencias(result.msg);
                }
            });
        }
        catch (err) {
            jsSetCamposReadOnly(1);
            LibMessageError("Atenção", "[jsAjaxVisualizarPedido] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsModalInserirItem()
    {
        try
        {
            LibMessageProcessando("");
            var idMovimento = '@ViewBag.idMovimento';
            $("#mainModal").load('@Url.Action("ModalInserirItemCompra", "MovimentosCompras", new { area = "gc" })?idMovimento=' + idMovimento, function () {
                var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
            })
        }
        catch (err)
        {
            LibMessageProcessandoHide();
            LibMessageError("Atenção", "[jsModalInserirItem] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsModalSelecionarItensImportacao()
    {
        try
        {
            LibMessageProcessando("");
            var idMovimento = '@ViewBag.idMovimento';
            $("#mainModal").load('@Url.Action("ModalInvoicesItensEspelhoDigital", "ComexInvoices", new { area = "gc" })?idMovimento=' + idMovimento, function () {
                var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
            })
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalInserirItem] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    $('#id_cliente_contato').change(function ()
    {
        try
        {
            var selectedText = [];
            var selectedValues = [];
            var emails = "";
            var ids = "";
            $('#id_cliente_contato :selected').each(function (i, value) {
                selectedValues[i] = value;
                selectedText[i] = $(value).text();
                if ($(value).val() != "0") {
                    emails += $(value).text().replace("[", "").replace("]", "") + "; ";
                    ids += $(value).val() + ";";
                }
            });
            $("#notifica_contatos_emails").val(emails);
            $("#notifica_contatos_ids").val(ids);
        }
        catch (err) {
            LibMessageError("Atenção", err != null ? String(err) : "");
        }
    });

    function jsDuplicateRow(id)
    {
        try {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                LibMessageProcessando("");
                $("#mainModal").load('@Url.Action("ModalDuplicateItemCompra", "MovimentosCompras", new { area = "gc" })?idMovimentoItem=' + id, function () {
                    var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                })
            }
            else
            {
                LibMessageAlert("Atenção", "Alteração não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsDuplicateRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsEditRow(id)
    {
        try
        {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                LibMessageProcessando("");
                $("#mainModal").load('@Url.Action("ModalEditarItemCompra", "MovimentosCompras", new { area = "gc" })?IdItem=' + id, function () {
                    var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                })
            }
            else
            {
                LibMessageAlert("Atenção", "Alteração não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsEditRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }


    function jsDeleteRow(id, produto)
    {
        try {
            if ((@Model.id_movimento_status <= 2) && ('@Model.movimento_nf'.toLowerCase() == 'false'))
            {
                GdiSwal2.dialog({
                    title: "<i class='fa-solid fa-question' style='color:#ff9900'>&nbsp&nbsp</i><b>Confirmação</b>",
                    message: "Confirma a exclusão do item ?" + "<br/><br/>" + "<b>" + produto + "</b>",
                    closeButton: false,
                    centerVertical: true,
                    onEscape: false,
                    backdrop: true,
                    buttons: {
                        cancelar: {
                            label: '<i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar',
                            className: 'btn-outline-warning',
                            callback: function () {
                                GdiSwal2.hideAll();
                            }
                        },
                        confirmar: {
                            label: '<i class="fa-solid fa-save me-2" aria-hidden="true"></i>Confirmar',
                            className: 'btn-outline-success',
                            callback: function ()
                            {
                                jsAjaxDeleteItemCompra(id);
                            }
                        }
                    }
                });
            }
            else
            {
                LibMessageAlert("Atenção", "Exclusão não permitida!");
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsDeleteRow] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsAjaxDeleteItemCompra(id)
    {
        try {
            LibMessageProcessando("");
            var dataForm =
            {
                record_gc_movimento_item:
                {
                    'id_movimento_item': id,
                }
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxRemoverItemCompra", "MovimentosCompras", new { area = "gc" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataForm),
                dataType: "json",
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        $("#dtGcMovimentosCreatePedido").DataTable().draw(false);
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsAjaxDeleteItem] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


    function jsModalImportarExcelSC()
    {
        try
        {
            LibMessageProcessando("");
            $("#mainModal").load('@Url.Action("ModalImportarExcelSC", "MovimentosCompras", new { Area = "gc" })?id=0', function () {
                var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
            })
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalImportarExcelSC] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

</script>

