@model GdiPlataform.Db.gc_movimentos_itens
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalPedidoInsertEditItemCompra" }))
{
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-circle-info fa-sm" aria-hidden="true"></i>
    @ViewBag.Title</h5>
                @Html.HiddenFor(model => model.id_movimento)
                @Html.HiddenFor(model => model.id_movimento_item)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("qtd", "Qty:", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-2">
                            @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control", data_autofocus = "select" } })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("produto", "Part Number:", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-9 text-sm-start">
                            @Html.DropDownListFor(model => model.id_produto, ViewBag.comboProdutosServicos as List<SelectListItem>, new { @class = "form-control", @data_select2_dropdown_parent = "#mainModal", @onfocus = "jsResetDadosProduto();", @onchange = "jsSetDadosProduto();", @onblur = "jsSetDadosProduto();" })
                        </div>
                        <div class="col-sm-1 text-sm-start">
                            <button type="button" name="btnDetailsProducts" tabIndex="-1" title="" onclick="jsShowDetailsProducts();" class="btn btn-info d-inline-flex align-items-center gap-2"><i class="fa fa-info"></i></button>
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("id_produto_condicao", "CD:", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-3 text-sm-start">
                            @Html.DropDownListFor(model => model.id_produto_condicao, ViewBag.comboProdutosCondicoes as List<SelectListItem>, new { @class = "form-control", @data_select2_dropdown_parent = "#mainModal" })
                        </div>
                        @Html.Label("id_entrega_prazo", "Delivery:", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                        <div class="col-sm-3 text-sm-start">
                            @Html.DropDownListFor(model => model.id_entrega_prazo, ViewBag.comboEntregasPrazos as List<SelectListItem>, new { @class = "form-control", @data_select2_dropdown_parent = "#mainModal" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("valor_unit", "Unit:", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-3">
                            @Html.EditorFor(model => model.valor_unit, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.Label("valor_unit_corecharge", "Core:", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                        <div class="col-sm-3">
                            @Html.EditorFor(model => model.valor_unit_corecharge, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("serial", "Serial", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-3">
                            @Html.EditorFor(model => model.serial, new { htmlAttributes = new { @class = "form-control", @id = "serial", maxlength = "20" } })
                        </div>
                        @Html.Label("lote", "Lote", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                        <div class="col-sm-3">
                            @Html.EditorFor(model => model.lote, new { htmlAttributes = new { @class = "form-control", @id = "serial", maxlength = "20" } })
                        </div>
                        @Html.Label("seq", "Seq.", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                        <div class="col-sm-1">
                            @Html.EditorFor(model => model.sequencia, new { htmlAttributes = new { @class = "form-control", @id = "seq", maxlength = "3" } })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("obs", "Obs.", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.obs, new { htmlAttributes = new { @class = "form-control", @id = "obs", maxlength = "30" } })
                        </div>
                        @Html.Label("nf", "Obs NF", htmlAttributes: new { @class = "col-sm-1 col-form-label" })
                        <div class="col-sm-2 text-sm-start" style="margin-top:7px;">
                            <div class="form-check form-switch form-switch-lg">
                                @Html.CheckBoxFor(model => model.obs_nf, new { @class = "form-check-input switch-success", role = "switch" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Confirmar Item" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Confirmar Item</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
            jsSetDadosProduto();
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsResetDadosProduto()
    {
        document.getElementById("valor_unit").value = "";
    }

    function jsSetDadosProduto()
    {
        try
        {
            if (('@Model.id_movimento_item' == -1) && ($("#id_produto").val() != null) && ($("#id_produto").val() > 0) && ($("#tag").val() == 0))
            {
                var dataForm =
                {
                    view_g_produtos:
                    {
                        'id_produto': $("#id_produto").val(),
                    }
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjaxGetDadosProdutos", "Movimentos", new { area = "gc" })',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataForm),
                    dataType: "json",
                    success: function (result)
                    {
                        if (result.success == true)
                        {
                            document.getElementById("valor_unit").value = result.preco_venda;
                        }
                        else
                        {
                            document.getElementById("valor_unit").value = "0";
                        }
                    },
                    error: function (result)
                    {
                        document.getElementById("valor_unit").value = "0";
                    }
                });
            }
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsSetDadosProduto] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsShowDetailsProducts()
    {
        try
        {
            if (($("#id_produto").val() != null) && ($("#id_produto").val() > 0))
            {
                var dataForm =
                {
                    view_g_produtos:
                    {
                        'id_produto': $("#id_produto").val(),
                    }
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjaxGetDadosProdutos", "Movimentos", new { area = "gc" })',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataForm),
                    dataType: "json",
                    success: function (result)
                    {
                        if (result.success == true)
                        {
                            var detailsProduct = "";
                            var NameProduct = "";
                            detailsProduct += "<b>Produto:</b> " + result.descricao_longa + "<br/><br/>";
                            detailsProduct += "<b>Id:</b> " + result.id_produto_servico + " | <b>Cód</b>: " + result.codigo;
                            if (result.core == "Sim") { detailsProduct += " | <b>Core Charge</b>"; }
                            detailsProduct += "<br/><br/>";
                            detailsProduct += "<b>Estoque 1:</b> " + result.qtd_estoque_1.toString() + "<br/>";
                            detailsProduct += "<b>Estoque 2:</b> " + result.qtd_estoque_2.toString() + "<br/>";
                            detailsProduct += "<b>Estoque 3:</b> " + result.qtd_estoque_3.toString() + "<br/>";
                            detailsProduct += "<b>Estoque 4:</b> " + result.qtd_estoque_4.toString() + "<br/><br/>";
                            detailsProduct += "<b>R$ Venda:</b> " + JsFormatNumero(result.preco_venda);
                            if (detailsProduct.trim().length > 0) { yesMessageInfo("Dados do Produto", detailsProduct); };
                        }
                        else
                        {
                            document.getElementById("valor_unit").value = "0";
                        }
                    },
                    error: function (result)
                    {
                        document.getElementById("valor_unit").value = "0";
                    }
                });
            }
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsSetDadosProduto] " + (err && err.message ? err.message.toString() : String(err)));
        }

    }

    function jsCheckInputs()
    {
        try
        {
            var msgError = "";
            if ((isEmpty($('#quantidade').val().toString().trim())) || ($('#quantidade').val().toString().trim() == "0") || ($('#quantidade').val().toString().trim() == "0,00"))
            {
                msgError += "O campo <b>Qtd</b> é de preenchimento obrigatório!" + "<br/>";
            }
            if ((isEmpty($('#id_produto').val().toString().trim())) || ($('#id_produto').val().toString().trim() == "0") || ($('#id_produto').val().toString().trim() == "-1"))
            {
                msgError += "O campo <b>Produto</b> é de preenchimento obrigatório!"+"<br/>";
            }
            if (isEmpty($('#valor_unit').val().toString().trim()))
            {
                msgError += "O campo <b>R$ Unit.</b> é de preenchimento obrigatório!" + "<br/>";
            }
            if (($('#valor_unit').val().toString().trim() == "0") || ($('#valor_unit').val().toString().trim() == "0,00"))
            {
                if (isEmpty($('#obs').val().toString().trim()))
                {
                    msgError += "O campo <b>Obs</b> é de preenchimento obrigatório para R$ Unit. igual a zero!" + "<br/>";
                }
            }

            if (msgError.trim().length > 0) { LibMessageAlert("Atenção", msgError); }
            else
            {
                jsSendForm();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando("Atualizando Itens . . .");
            var form = $('#FormModalPedidoInsertEditItemCompra');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxInsertEditItemCompra", "MovimentosCompras", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        $("#dtGcMovimentosCreatePedidoCompra").DataTable().draw(false);
                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>

