@model GdiPlataform.Db.g_contratos_aviacao
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
<style>
    #FormModalCreateEditGContratosAviacao .modal-body {
        overflow-y: auto;
        max-height: calc(100vh - 170px);
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalCreateEditGContratosAviacao" }))
{
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.HiddenFor(model => model.id_contrato)
                @Html.HiddenFor(model => model.ativo)
                @Html.HiddenFor(model => model.anexo)
                @Html.HiddenFor(model => model.id_ged)
                @Html.HiddenFor(model => model.id_usuario_cadastro)
                @Html.HiddenFor(model => model.datahora_cadastro)
                @Html.HiddenFor(model => model.id_coligada)
                @Html.HiddenFor(model => model.id_filial)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                        <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados do Contrato</div>
                        <div class="card-body m-0 p-1" style="height: 100%">
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("Tipo Contrato", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.id_contrato_tipo, ViewBag.comboContratosTipos as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("Cliente/Fornecedor", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.id_cliente, ViewBag.comboClientes as List<SelectListItem>, new { @class = "form-control", @onchange = "jsSetDadosCliente();", @onblur = "jsSetDadosCliente();", @data_gdi_select2_search = "true", @data_gdi_lookup_url = Url.Action("GetClientesFornecedoresLookup", "ClientesLookup", new { area = "" }), @data_gdi_lookup_min_length = "2" })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("descricao", "Descrição", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", data_autofocus = "true" } })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("identificador", "Identificador", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.identificador, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("signatario1_nome", "Signatário", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.signatario1_nome, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.Label("signatario1_telefone", "Telefone", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.signatario1_telefone, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("signatario1_cnpj", "CNPJ", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.signatario1_cnpj, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.Label("signatario1_cpf", "CPF", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.signatario1_cpf, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("signatario1_email", "E-Mail", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.signatario1_email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.Label("data_assinatura", "Data Ass.", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-2">
                                    @* id do .input-group distinto do input para Tempus Dominus *@
                                    <div class='input-group date' id='ig_g_contr_av_ce_ass'>
                                        @Html.EditorFor(model => model.data_assinatura, new { htmlAttributes = new { @class = "form-control", type = "text", @title = "Data da Assinatura" } })
                                        <span class="input-group-text"><i class="fa-regular fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("obs", "Obs", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-7">
                                    @Html.TextAreaFor(model => model.obs, new { @class = "form-control", @id = "obs", @rows = "5", @title = "Informações adicionais do contrato", @placeholder = "Informações adicionais do contrato" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Salvar" onclick="jsAjaxCreateEditContratoAviacao()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Salvar</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsDatepicker('#ig_g_contr_av_ce_ass');
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsLoadForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSetDadosCliente()
    {
        try
        {
            if (($("#id_contrato_tipo").val() == 1) && ($("#id_cliente").val() > 0)) {
                LibMessageProcessando("Pesquisando cliente . . .");

                var dataForm =
                {
                    record_g_clientes:
                    {
                        'id_cliente': $('#id_cliente').val().toString()
                    }
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjaxGetDadosClientes", "ContratosAviacao", new { area = "g" })',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataForm),
                    dataType: "json",
                    success: function (result)
                    {
                        LibMessageProcessandoHide();
                        if (result.success == true)
                        {
                            document.getElementById("signatario1_nome").value = result.RecordCliente.contato_principal;
                            document.getElementById("signatario1_telefone").value = result.RecordCliente.telefone_principal;
                            document.getElementById("signatario1_cnpj").value = result.RecordCliente.cnpj;
                            document.getElementById("signatario1_cpf").value = result.RecordCliente.cpf;
                            document.getElementById("signatario1_email").value = result.RecordCliente.email_principal.toLowerCase();
                            document.getElementById("identificador").value = result.RecordCliente.identificador;
                        }
                        else
                        {
                            GdiAjaxNotifyInconsistencias((result && result.msg) ? result.msg : 'Verifique as inconsistências.')
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        GdiAjaxNotifyInconsistencias(errorThrown || textStatus || 'Verifique as inconsistências.')
                    }
                });
            }
        }
        catch (err)
        {
            document.getElementById("signatario1_nome").value = "";
            document.getElementById("signatario1_telefone").value = "";
            document.getElementById("signatario1_cnpj").value = "";
            document.getElementById("signatario1_cpf").value = "";
            document.getElementById("signatario1_email").value = "";
            document.getElementById("identificador").value = result.RecordCliente.identificador;
            GdiAjaxNotifyInconsistencias(err.message);
        }
    }

    function jsAjaxCreateEditContratoAviacao()
    {
        try
        {
            if (isEmpty($('#descricao').val() == null ? '' : $('#descricao').val().toString().trim())) {
                LibMessageAlert('Atenção', 'Campo <b>Descrição</b> é de preenchimento obrigatório!');
                return;
            }

            LibMessageProcessando('Salvando contrato...');
            var form = $('#FormModalCreateEditGContratosAviacao');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AjaxCreateEditContratoAviacao", "ContratosAviacao", new { area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success === true)
                    {
                        document.querySelectorAll('.modal').forEach(function (m) { var i = bootstrap.Modal.getInstance(m); if (i) i.hide(); });
                        if (typeof otableGContratos !== 'undefined' && otableGContratos) {
                            otableGContratos.draw(false);
                        } else {
                            $('#dtGContratos').DataTable().draw(false);
                        }
                        LibMessageHideAll();
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias((result && result.msg) ? result.msg : 'Verifique as inconsistências.');
                    }
                },
                error: function (xhr, textStatus, errorThrown)
                {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(errorThrown || textStatus || 'Verifique as inconsistências.');
                }
            });
        }
        catch (err) {
            LibMessageProcessandoHide();
            LibMessageError('Atenção', '[jsAjaxCreateEditContratoAviacao] ' + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
