@model GdiPlataform.Areas.gc.Models.cstMovimentoEntradaNF
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "GcMovimentosFormProcessarNFImportacao" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(@ViewBag.Title)</h5>
                    @Html.HiddenFor(model => model.id_movimento)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-body m-0 p-1" style="max-width: 100%; overflow-x: auto; ">
                    <div class="form-horizontal m-0 p-0">
                        <div class="table-responsive scroll-body-horizontal" style="width:100%">


                            @if (Model.movimento_permitido == false)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Model.msg_erro.ToString()
                                </div>
                            }
                            else
                            {
                                <table class="table table-striped table-bordered compact">
                                    <thead>
                                        <tr>
                                            <th style="width: 3%" class="text-center">Seq.</th>
                                            <th style="width: 62%" class="text-start">Produto</th>
                                            <th style="width: 5%" class="text-center">Qtd</th>
                                            <th style="width: 5%" class="text-center">BH_01</th>
                                            <th style="width: 5%" class="text-center">BH_02</th>
                                            <th style="width: 5%" class="text-center">BH_03</th>
                                            <th style="width: 5%" class="text-center">SP_01</th>
                                            <th style="width: 5%" class="text-center">SP_02</th>
                                            <th style="width: 5%" class="text-center">SP_03</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.allItens.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(model => model.allItens[i].id_movimento_item)
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.LabelFor(model => model.allItens[i].sequencia, Model.allItens[i].sequencia.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                <td style="text-align:left; vertical-align:middle; margin:1px; padding:1px;">@Html.LabelFor(model => model.allItens[i].nome_produto, Model.allItens[i].nome_produto.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.LabelFor(model => model.allItens[i].quantidade_geral, Model.allItens[i].quantidade_geral.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdbh_01, new { htmlAttributes = new { @class = "form-control", Style = "background:#aed6f1; font-size: 14px;" } })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdbh_02, new { htmlAttributes = new { @class = "form-control", Style = "background:#aed6f1; font-size: 14px;" } })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdbh_03, new { htmlAttributes = new { @class = "form-control", Style = "background:#aed6f1; font-size: 14px;" } })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdsp_01, new { htmlAttributes = new { @class = "form-control", Style = "background:#7fb3d5; font-size: 14px;" } })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdsp_02, new { htmlAttributes = new { @class = "form-control", Style = "background:#7fb3d5; font-size: 14px;" } })</td>
                                                <td style="text-align:center; vertical-align:middle; margin:1px; padding:1px;">@Html.EditorFor(model => model.allItens[i].qtd_cdsp_03, new { htmlAttributes = new { @class = "form-control", Style = "background:#7fb3d5; font-size: 14px;" } })</td>
                                                @Html.HiddenFor(model => model.allItens[i].id_produto)
                                                @Html.HiddenFor(model => model.allItens[i].sequencia)
                                                @Html.HiddenFor(model => model.allItens[i].nome_produto)
                                                @Html.HiddenFor(model => model.allItens[i].quantidade_geral)
                                                @Html.HiddenFor(model => model.allItens[i].valor_unit)
                                                @Html.HiddenFor(model => model.allItens[i].valor_total)
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between m-0 p-1">
                    <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="jsYesCancelRecord('@Url.Action("Index","MovimentosEntradas",new { Area = "gc" })')"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                    @if (Model.movimento_permitido == true)
                    {<button type="button" name="btnSalvar" title="Salvar" onclick="jsSendForm()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Salvar</button>}
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try {
            LibMessageProcessando("Processando . . .")
            var form = $('#GcMovimentosFormProcessarNFImportacao');
            windowLoading(true, 2);
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxProcessarNFImportacao", "MovimentosEntradas", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons:
                            {
                                confirmar:
                                {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageProcessando("Processando . . .")
                                        $(window.document.location).attr('href', '@Url.Action("Index","MovimentosEntradas",new { Area = "gc" })');
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(result.msg);
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>






