@model GdiPlataform.Areas.gc.Models.CstDadosFaturamentoNF
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalNFEntradaGerarNF" }))
{
    <div class="modal-dialog modal-full modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                @Html.HiddenFor(model => model.id_movimento)
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <div class="card m-0 p-1">
                        <div class="card-body m-0 p-1" style="height: 100%">
                            @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(Model.MsgBloqueio, "danger"))
                            @if (string.IsNullOrEmpty(Model.MsgBloqueio))
                            {
                                @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(Model.MsgInfo, "info"))
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("id_frete_responsavel", "Frete (Responsável)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.DropDownListFor(model => model.id_frete_responsavel, ViewBag.comboFreteResponsavel as List<SelectListItem>, new { @class = "form-control", @data_container = "body" })
                                    </div>
                                    @Html.Label("frete_valor", "Frete (R$)", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_valor, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.Label("volumes", "Volumes", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_qvol, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("especie", "Espécie", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_esp, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.Label("marca", "Marca", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_marca, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.Label("numeracao", "Numeração", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_nvol, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("pesol", "Peso Líq.", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_pesol, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.Label("pesob", "Peso Bruto", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.frete_pesob, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.Label("informacoes", "Informações Adicionais", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(model => model.informacoes_adicionais, new { @class = "form-control", @rows = "4" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                @if (string.IsNullOrEmpty(Model.MsgBloqueio))
                {
                    <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                    <button type="button" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Faturar NF Compra</button>
                }
                else
                {
                    <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa-regular fa-window-close me-2" aria-hidden="true"></i>Fechar</button>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try {
            LibMessageProcessando("Faturando NF . . .")
            var form = $('#formModalNFEntradaGerarNF');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxFaturarNFCompra", "MovimentosEntradas", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageSuccess("Confirmação", result.msg, {
                            callback: function ()
                            {
                                $("#dtGcMovimentosIndexEntrada").DataTable().draw(false);
                                document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                LibMessageHideAll();
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
