@model GdiPlataform.Db.g_nfe
@{Layout = null;}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalEnviarCancelamentoNfe_gNfe" }))
{
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.HiddenFor(model => model.id_nfe)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Motivo", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.motivo_cancelamento, new { htmlAttributes = new { @class = "form-control", maxlength = "80" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Confirmar</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs()
    {
        try
        {
            if ((isEmpty($('#motivo_cancelamento').val().toString().trim())))
            {
                LibMessageAlert("Atenção", "Informe o <b>Motivo</b> do cancelamento!");
            }
            else
            {
                jsSendForm();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsSendForm()
    {
        try {
            LibMessageProcessando("Enviando cancelamento NFE . . .");
            var form = $('#formModalEnviarCancelamentoNfe_gNfe');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxEnviarCancelamentoNfe", "Nfe", new { area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                                                LibMessageSuccess("Confirmação", result.msg, {
                            backdrop: true,
                            callback: function () {
                            $("#dtGNfe").DataTable().draw(false);
                            reloadPageMain();
                            document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                            LibMessageHideAll();
                            }
                        });
                    }
                    else {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString())
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
