@model GdiPlataform.Areas.g.Models.cstViewPortalClienteFinanceiro
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-lg-12 m-0 p-0">
        <div class="card m-0 p-0">
            <div class="card-title m-0 p-1">
                <h4>Portal Financeiro</h4>
                <input type="hidden" id="yesFilterField" value="" name="yesFilterField" />
                <input type="hidden" id="yesFilterOperador" value="" name="yesFilterOperador" />
                <input type="hidden" id="yesFilterText" value="" name="yesFilterText" />
                <input type="hidden" id="yesFilterAdvancedText" value="" name="yesFilterAdvancedText" />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="card-header m-0 p-1">
                <ul class="nav nav-tabs" id="crud-tabs" role="tablist">
                    <li class="nav-item"><a class="d-flex align-items-center nav-link active" id="tabDados_tab" data-bs-toggle="pill" href="#tabDados" role="tab" aria-controls="crud-tabs" aria-selected="true"><i class="fa-solid fa-file-pen fa-sm" aria-hidden="true"></i>Dados</a></li>
                </ul>
            </div>
            <div class="card-body m-0 p-1" style="height: 100%">
                <div class="form-horizontal m-0 p-0">
                    <div class="tab-content" id="crud-tabs-content">
                        <div class="tab-pane fade show active" id="tabDados" role="tabpanel" aria-labelledby="tabDados_tab">
                            <div class="card-body m-0 p-1" style="height: 100%">
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    <table class="table table-sm table-striped align-middle display compact" style="width: 90%" align="center">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%" align="center">Venc.</th>
                                                <th style="width: 40%" align="center">Descrição</th>
                                                <th style="width: 10%" align="center">Valor</th>
                                                <th style="width: 40%" align="center">Anexo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.allCstPortalClienteFinanceiro.Count; i++)
                                            {
                                                <tr>
                                                    <td>@Html.Label(Model.allCstPortalClienteFinanceiro[i].data_vencimento.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                    <td>@Html.Label(Model.allCstPortalClienteFinanceiro[i].descricao.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                    <td>@Html.Label(Model.allCstPortalClienteFinanceiro[i].valor_total.ToString(), htmlAttributes: new { @class = "col-form-label" })</td>
                                                    <td>
                                                        @if (Model.allCstPortalClienteFinanceiro[i].has_boleto == true)
                                                        {<button type="button" name="btnDownloadBoleto" title="Download do Boleto" class="btn btn-outline-info d-inline-flex align-items-center gap-2" onclick="jsGetFile('@Model.allCstPortalClienteFinanceiro[i].link_boleto')"><i class="fa-solid fa-dollar-sign me-2" aria-hidden="true"></i>Boleto</button>}
                                                        @if (Model.allCstPortalClienteFinanceiro[i].has_nota_debito == true)
                                                        {<button type="button" name="btnDownloadND" title="Download da Nota de Débito" class="btn btn-outline-info d-inline-flex align-items-center gap-2" onclick="jsGetFile('@Model.allCstPortalClienteFinanceiro[i].link_nota_debito')"><i class="fa-regular fa-list-alt me-2" aria-hidden="true"></i>Nota Débito</button>}
                                                        @if (Model.allCstPortalClienteFinanceiro[i].has_nota_fiscal == true)
                                                        {
                                                            if (Model.allCstPortalClienteFinanceiro[i].nota_fiscal_autorizada == true)
                                                            {
                                                                <button type="button" name="btnDownloadNF" title="Download da Nota Fiscal (Autorizada)" class="btn btn-outline-success d-inline-flex align-items-center gap-2" onclick="window.open('@Model.allCstPortalClienteFinanceiro[i].link_nota_fiscal')"><i class="fa-regular fa-file me-2" aria-hidden="true"></i>Nota Fiscal</button>
                                                            }
                                                            else if (Model.allCstPortalClienteFinanceiro[i].nota_fiscal_cancelada == true)
                                                            {
                                                                <button type="button" name="btnDownloadNF" title="Download da Nota Fiscal (Cancelada)" class="btn btn-outline-danger d-inline-flex align-items-center gap-2" onclick="window.open('@Model.allCstPortalClienteFinanceiro[i].link_nota_fiscal')"><i class="fa-regular fa-file me-2" aria-hidden="true"></i>Nota Fiscal</button>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsGetFile(filename)
    {
        try
        {
            endereco = '@Url.Content("~/")' + filename
            window.open(endereco)
        }
        catch (err) {
            LibMessageError("Atenção", "[jsGetFile] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

</script>

