@model GdiPlataform.Areas.g.Models.cstUpload
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalAtualizarTabelaIBPT" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-circle-info fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-2">
                <div class="form-horizontal m-0 p-0">
                    <div style="text-align:center" class="form-group">
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("Arquivo", new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-8 text-sm-start">
                                <input type="file" class="form-control" id="customFile" onchange="jsFileInputChange(this)">
                                <div class="form-text" id="customFile_info"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="checkInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Processar Arquivo</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function checkInputs()
    {
        try {
            if (isEmpty($('#customFile').val().toString().trim())) {
                GdiAjaxNotifyInconsistencias("Selecione o arquivo a ser processado!");
            }
            else {
                sendForm();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[checkInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function sendForm()
    {
        try {
            LibMessageProcessando("Processando Importação . . .");
            var formData = new FormData();
            var totalFiles = document.getElementById("customFile").files.length;
            var dataForm =
            {
                record_cstImportacaoNFImportacao: {}
            };
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("customFile").files[i];
                formData.append("filesource", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxAtualizarTabelaIBPT", "ProdutosNcm", new { Area = "g" })',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function ()
                                    {
                                        $("#dtGProdutosNcm").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        LibMessageDialog({
                            title: "<i class='fa-regular fa-window-close' style='color:#ff0000'>&nbsp&nbsp</i><b>Erro no Processamento</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function () {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString())
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[sendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


</script>

