@model IEnumerable<GdiPlataform.Db.g_produtos>
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-lg-12 m-0 p-0">
        <div class="card m-0 p-0">
            <div class="card-title m-0 p-1">
                <h5>@Html.Raw(ViewBag.Title)</h5>
                <input type="hidden" id="yesFilterField" value="" name="yesFilterField" />
                <input type="hidden" id="yesFilterOperador" value="" name="yesFilterOperador" />
                <input type="hidden" id="yesFilterText" value="" name="yesFilterText" />
                <input type="hidden" id="yesFilterAdvancedText" value="" name="yesFilterAdvancedText" />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="card-header m-0 p-1">

                @if ((CachePersister.userIdentity.Roles.Contains("g_Produtos_*")) || (CachePersister.userIdentity.Roles.Contains("g_Produtos_Actionupdate")))
                {
                    <button type="button" name="btnRegistroEditar" title="Editar Registro" class="btn btn-outline-warning d-inline-flex align-items-center gap-2" onclick="JsEditRecord(otableGProdutos, 'Id.', '@Url.Action("Edit","Produtos",new { Area = "g" })/')"><i class="fa-regular fa-edit me-2" aria-hidden="true"></i>Editar</button>
                }
                else
                {
                    <button type="button" name="btnRegistroVisualizar" title="Visualizar Registro" class="btn btn-outline-warning d-inline-flex align-items-center gap-2" onclick="JsEditRecord(otableGProdutos, 'Id.', '@Url.Action("Edit","Produtos",new { Area = "g" })/')"><i class="fa-regular fa-clipboard me-2" aria-hidden="true"></i>Visualizar</button>
                }
                <button type="button" id="btnFiltroAvancado" name="btnFiltroAvancado" title="Filtro Avançado" class="btn btn-outline-secondary d-inline-flex align-items-center gap-2" onclick="jsModalFiltroAvancado()"><i class="fa-solid fa-filter me-2" aria-hidden="true"></i>Filtro Avançado</button>

                @if ((CachePersister.userIdentity.Roles.Contains("g_Produtos_*")) || (CachePersister.userIdentity.Roles.Contains("g_Produtos_Actionread")))
                {
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary dropdown-toggle d-inline-flex align-items-center gap-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Relatórios">
                            <i class="fa-solid fa-print me-2" aria-hidden="true"></i>Relatórios
                        </button>
                        <div class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop2">
                            <a class="d-flex align-items-center dropdown-item" href="#" onclick="jsModalViewFichaEstoqueProduto(otableGProdutos, 'Id.')"><i class="fa-solid fa-warehouse me-2" aria-hidden="true"></i>Produtos - Ficha Estoque</a>
                        </div>
                    </div>
                }
                @if ((CachePersister.userIdentity.Roles.Contains("g_Produtos_*")) || (CachePersister.userIdentity.Roles.Contains("g_Produtos_Actionrun")))
                {
                    int qtdMenus = 0;
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle d-inline-flex align-items-center gap-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Processos">
                            <i class="fa-solid fa-cog me-2" aria-hidden="true"></i>Processos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="d-flex align-items-center dropdown-item" href="#" onclick="jsModalDesativarCadastroProduto(otableGProdutos, 'Id.')"><i class="fa-solid fa-toggle-off me-2" aria-hidden="true"></i>Produtos - Desativar o Cadastro</a>
                            @if (CachePersister.userIdentity.IdUsuario == 1)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="d-flex align-items-center dropdown-item" href="#" onclick="jsModalAtualizarCadastroProdutos()"><i class="fa-solid fa-sync me-2" aria-hidden="true"></i>Produtos - Atualizar Cadastro</a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="card-body m-0 p-1" style="max-width: 100%; overflow-x: auto; ">
                <div class="form-horizontal m-0 p-0">
                    <div class="table-responsive scroll-body-horizontal" style="width:100%">
                        <table class="table table-sm table-striped table-hover align-middle w-100 display compact" style="width:100%" id="dtGProdutos">
                            <thead>
                                <tr>
                                    <th>[x]</th>
                                    <th>@Html.Encode("Id.")</th>
                                    <th>@Html.Encode("Tipo")</th>
                                    <th>@Html.Encode("PN")</th>
                                    <th>@Html.Encode("Produto")</th>
                                    <th>@Html.DisplayName("Fob (US$)")</th>
                                    <th><i class="fa-solid fa-warehouse" style="cursor: pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque BH"></i><br />BH</th>
                                    <th><i class="fa-solid fa-warehouse" style="cursor: pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque SP"></i><br />SP</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var otableGProdutos;

 	$(function ()
    {
        try
        {
            jsInitForm();
            jsCreateTable();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCreateTable()
    {
        try
        {
            $.fn.dataTable.ext.errMode = 'none';
            otableGProdutos = $('#dtGProdutos').on('error.dt', function (e, settings, techNote, message) { GdiDtNotifyLoadFailure(message); }).on('xhr.dt', function (e, settings, json, xhr) { GdiDtNotifyJsonErrorMessage(json); btnFiltro(json.yesFilterOnOff) }).DataTable({
            processing: true,
            bServerSide: true,
            ajax: {
                url: '@Url.Action("GetDados","Produtos",new { Area = "g" })',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: 'json',
                cache: false,
                data: function (d) {
                    return {
                        sEcho: d.draw,
                        iDisplayStart: d.start,
                        iDisplayLength: d.length,
                        yesFilterField: $('#yesFilterField').val().toString(),
                        yesFilterOperador: $('#yesFilterOperador').val().toString(),
                        yesFilterText: $('#yesFilterText').val().toString(),
                        yesFilterAdvancedText: $('#yesFilterAdvancedText').val().toString(),
                    };
                },
                error: function (xhr, textStatus, errorThrown) { GdiDtNotifyLoadFailure(errorThrown); }
            },
            responsive: true,
            bFilter: false,
            bLengthChange: false,
            bProcessing: true,
            pageLength: 20,
            scrollX: false,
            scrollCollapse: false,
            fixedColumns: false,
            bAutoWidth: false,
            pagingType: 'full_numbers',
            aoColumnDefs: [
                { "width": "4%", orderable: false, className: 'text-sm-center', targets: [0], render: DataTable.render.select() },
                { "width": "4%", orderable: false, className: 'text-sm-center', targets: [1] },
                { "width": "5%", orderable: false, className: 'text-sm-center', targets: [2] },
                { "width": "10%", orderable: false, className: 'text-sm-start', targets: [3] },
                { "width": "59%", orderable: false, className: 'text-sm-start', targets: [4] },
                { "width": "8%", orderable: false, className: 'text-sm-end', targets: [5] },
                { "width": "5%", orderable: false, className: 'text-sm-end', targets: [6] },
                { "width": "5%", orderable: false, className: 'text-sm-end', targets: [7] }
            ],
            select: {
                style: 'multi',
                selector: 'td:not(.dt-no-row-select)',
                headerCheckbox: true
            },
            order: [[1, 'desc']],

                language:
                {
                    sEmptyTable: 'Nenhum registro encontrado',
                    sInfo: 'Mostrando de _START_ ate _END_   [ _TOTAL_ registros total ]',
                    sInfoEmpty: 'Mostrando 0 ate 0 de 0 registros',
                    sInfoFiltered: ' (Filtrados de _MAX_ registros)',
                    sInfoPostFix: '',
                    sInfoThousands: '.',
                    sLengthMenu: '_MENU_ registros por página',
                    sZeroRecords: 'Nenhum registro encontrado',
                    sSearch: 'Pesquisar',
                    oPaginate:
                    {
                        sNext: '>',
                        sPrevious: '<',
                        sFirst: '<<',
                        sLast: '>>'
                    },
                    select: {
                        rows: {
                            0: "",
                            1: " [ %d registro selecionado ] ",
                            _: " [ %d registros selecionados ] "
                        }
                    }
                },
                oAria: {
                    sSortAscending: ': Ordenar colunas de forma ascendente',
                    sSortDescending: ': Ordenar colunas de forma descendente'
                }
            });
            $('#dtGProdutos tbody').on('dblclick', 'tr td', function () {
                var data = otableGProdutos.row($(this).closest('tr')).data();
                JsEditRecordDoubleClick(data[1],'@Url.Action("Edit", "Produtos", new { Area = "g" })');
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCreateTable] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsRunFiltroAvancado(FilterAdvancedText)
    {
        try
        {
            document.getElementById("yesFilterAdvancedText").value = FilterAdvancedText;
            $("#dtGProdutos").DataTable().draw(false);
        }
			catch (err) {
            LibMessageError("Atenção", "[jsRunFiltroAvancado] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsModalFiltroAvancado()
    {
        try
        {
            if (document.getElementById("btnFiltroAvancado").innerHTML.indexOf("Remover") > 0) {
                document.getElementById("yesFilterField").value = "*";
                document.getElementById("yesFilterOperador").value = "";
                document.getElementById("yesFilterText").value = "";
                document.getElementById("yesFilterAdvancedText").value = "";
                $("#dtGProdutos").DataTable().draw(false);
            }
            else
            {
                try
                {
                    $("#mainModal").load('@Url.Action("ModalFiltroAvancadoView", "Produtos", new { Area = "g" })?id=g_Produtos_Index', function () {
                        var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                    })
                }
                catch (e)
                {
                    LibMessageError("Atenção", "Erro [" + (e != null ? String(e) : "") + "]");
                }
            };
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalFiltroAvancado] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsModalAtualizarCadastroProdutos()
    {
        try {
            $("#mainModal").load('@Url.Action("ModalAtualizarCadastroProdutos", "Produtos", new { Area = "g" })', function () {
                var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
            })
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalAtualizarCadastroProdutos] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsModalDesativarCadastroProduto(TableName, columnName)
    {
        try {
            var selectedIds = JsGetSelectedRows(TableName, columnName);
            if (!selectedIds || selectedIds.length == 0)
            {
                LibMessageAlert("Atenção", "Selecione o registro!");
            }
            else
            {
                if (selectedIds.indexOf(',') == -1)
                {
                    $("#mainModal").load('@Url.Action("ModalDesativarCadastroProduto", "Produtos", new { Area = "g" })?id=' + selectedIds, function () {
                        var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                    })
                }
                else
                {
                    LibMessageAlert("Atenção", "Para executar esse processo, selecione apenas 1(um) registro!");
                }
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalDesativarCadastroProduto] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }


    function jsModalViewFichaEstoqueProduto(TableName, columnName)
    {
        try {
            var selectedIds = JsGetSelectedRows(TableName, columnName);
            if (!selectedIds || selectedIds.length == 0)
            {
                LibMessageAlert("Atenção", "Selecione o registro!");
            }
            else
            {
                if (selectedIds.indexOf(',') == -1)
                {
                    $("#mainModal").load('@Url.Action("ModalViewFichaEstoqueProduto", "Produtos", new { Area = "g" })?id=' + selectedIds, function () {
                        var e=document.getElementById('mainModal');if(e){bootstrap.Modal.getOrCreateInstance(e).show();}
                    })
                }
                else
                {
                    LibMessageAlert("Atenção", "Para executar esse processo, selecione apenas 1(um) registro!");
                }
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsModalFichaEstoqueProduto] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }


</script>



