@model GdiPlataform.Db.g_produtos
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalDesativarCadastroProduto_gProdutos" }))
{
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-2">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("item", "Item", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10 text-sm-start">
                            @Html.DropDownListFor(model => model.id_produto, ViewBag.comboProdutosServicos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("substituto", "Substituto", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10 text-sm-start">
                            @Html.DropDownListFor(model => model.id_produto_substituto, ViewBag.comboProdutosServicos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Desativar Item</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try {
            LibMessageProcessando("Desativando Produto . . .");
            var form = $('#formModalDesativarCadastroProduto_gProdutos');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("ajaxDesativarCadastroProduto", "Produtos", new { Area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function ()
                                    {
                                        $("#dtGProdutos").DataTable().draw(false);
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        LibMessageAlert("Erro no Processamento", result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString())
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>


