@model GdiPlataform.Areas.gc.Models.cstModalRelatorio
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ModalRelatorioVendedoresAtrasados" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-chart-bar fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-1 p-1 mb-2">
                        @Html.Label("Field_Int_01", "Vendedor", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DropDownList("Field_Int_01", ViewBag.ComboVendedores as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_01", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Gerar Relatório</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando();
            var form = $('#ModalRelatorioVendedoresAtrasados');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxModalRelatorioVendedoresAtrasados", "RelatoriosComerciais", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function ()
                                    {
                                        window.location = '@Url.Action("AjaxGetFileProcessamento", "Global", new { Area = "g" })' + "?id=" + result.idProcessamento;
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.msg)            }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>



