@model GdiPlataform.Areas.gc.Models.CstModalRelatorio
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ModalRelatorioTransportadorasFretes" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Data Inicial", new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-5">
                            @* id do .input-group distinto do input (EditorFor) para Tempus Dominus *@
                            <div class='input-group date' id='ig_modal_rel_transp_fretes_d1'>
                                @Html.EditorFor(model => model.Field_Data_01, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                <span class="input-group-text"><i class="fa-regular fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Data Final", new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-5">
                            <div class='input-group date' id='ig_modal_rel_transp_fretes_d2'>
                                @Html.EditorFor(model => model.Field_Data_02, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                <span class="input-group-text"><i class="fa-regular fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Gerar Relatório</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try {
            jsDatepicker('#ig_modal_rel_transp_fretes_d1');
            jsDatepicker('#ig_modal_rel_transp_fretes_d2');
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs()
    {
        var valueDate1;
        var valueDate2;
        try {
            valueDate1 = jsDatepickerGetDate('#ig_modal_rel_transp_fretes_d1');
            valueDate2 = jsDatepickerGetDate('#ig_modal_rel_transp_fretes_d2');
            if (valueDate1 > valueDate2)
            {
                LibMessageAlert("Atenção", "Verifique o período de datas!");
            }
            else
            {
                jsSendForm();
            }
        }
        catch (exception) {
            GdiAjaxNotifyInconsistencias(exception.message);
        }
    }

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando();
            var form = $('#ModalRelatorioTransportadorasFretes');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxModalRelatorioTransportadorasFretes", "RelatoriosComerciais", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                                                LibMessageSuccess("Confirmação", result.msg, {
                            backdrop: true,
                            callback: function ()
                            {
                            window.location = '@Url.Action("AjaxGetFileProcessamento", "Global", new { Area = "g" })' + "?id=" + result.idProcessamento;
                            document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                            LibMessageHideAll();
                            }
                        });
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias((result && result.msg) ? result.msg : 'Verifique as inconsistências.')
                    }
                },
                error: function (xhr, textStatus, errorThrown)
                {
                    GdiAjaxNotifyInconsistencias(errorThrown || textStatus || 'Verifique as inconsistências.')            }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
