@model GdiPlataform.ViewModels.TrocaObrigatoriaSenhaViewModel
@using GdiPlataform.Security
@{ Layout = null; }
@{
    var wallPaper = (ViewBag.WallPaper ?? "").ToString();
    var wallPaperUrl = wallPaper.StartsWith("http", StringComparison.OrdinalIgnoreCase)
        ? wallPaper
        : Url.Content("~/" + wallPaper.TrimStart('~', '/'));
}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/favicon-v3.ico">
        <link rel="shortcut icon" href="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/favicon-v3.ico">
        <title>Aero FlightX - @ViewBag.Version</title>

        <link rel="stylesheet" href="~/LibUI_AdminLTE-4.0.0/plugins/bootstrap-icons-1.13.1/bootstrap-icons.min.css" />
        <link href="~/Content/kaushan-script-local.css" rel="stylesheet" />

        <link href="~/LibUI_AdminLTE-4.0.0/plugins/startprime/css/Login.css?v=@ViewBag.Version" rel="stylesheet">
        <link href="~/LibUI_AdminLTE-4.0.0/css/adminlte.min.css" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/fontawesome-free-7.2.0/css/all.min.css" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/sweetalert2/bootstrap-5.min.css" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/sweetalert2/gdi-swal2-overrides.css?v=@ViewBag.Version" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/tempus-dominus-6.9.4/css/tempus-dominus.min.css" rel="stylesheet" />
        <link href="~/LibUI_AdminLTE-4.0.0/plugins/startprime/css/start.css?v=@ViewBag.Version" rel="stylesheet" />

        <script src="~/LibUI_AdminLTE-4.0.0/plugins/jquery-3.6.0/jquery.min.js"></script>
        <script src="~/LibUI_AdminLTE-4.0.0/plugins/bootstrap-5.3.8/bootstrap.bundle.min.js?v=@ViewBag.Version"></script>
        @Scripts.Render("~/bundles/libui-swal-compat")
        <script src="~/LibUI_AdminLTE-4.0.0/js/adminlte.min.js"></script>
        <script src="~/LibUI_AdminLTE-4.0.0/plugins/startprime/js/start.js?v=@(ViewBag.Version)&amp;gdiBusy=6"></script>
        @Scripts.Render("~/bundles/jqueryval")

        <!-- ===================== CSS ===================== -->
        <style>
            /* Login isolado: HTML válido (form só no body) + altura encadeada para evitar scroll no documento */
            html {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                height: 100%;
                min-height: 100%;
                min-height: 100dvh;
                background-color: rgba(0, 0, 0, 0.76);
                background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('@wallPaperUrl');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                background-attachment: scroll;
            }

            #formTrocaObrigatoriaSenha {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                height: 100%;
                min-height: 100%;
                min-height: 100dvh;
            }

            .login-page-wrap {
                box-sizing: border-box;
                height: 100%;
                min-height: 100%;
                min-height: 100dvh;
                max-height: 100vh;
                max-height: 100dvh;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px 16px;
                overflow-x: hidden;
                overflow-y: auto;
            }

            a {
                text-decoration: none !important;
            }

            h1, h2, h3 {
                font-family: 'Kaushan Script', cursive;
            }

            .myform {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                padding: 1rem;
                -ms-flex-direction: column;
                flex-direction: column;
                width: min(500px, 92vw);
                pointer-events: auto;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, .2);
                border-radius: 1.1rem;
                outline: 0;
                max-width: none;
            }

            .tx-tfm {
                text-transform: uppercase;
            }

            .mybtn {
                border-radius: 50px;
            }

            .login-or {
                position: relative;
                color: #aaa;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .span-or {
                display: block;
                position: absolute;
                left: 50%;
                top: -2px;
                margin-left: -25px;
                background-color: #fff;
                width: 50px;
                text-align: center;
            }

            .hr-or {
                height: 1px;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            .google {
                color: #666;
                width: 100%;
                height: 40px;
                text-align: center;
                outline: none;
                border: 1px solid lightgrey;
            }

            form .error {
                color: #ff0000;
            }

            #second {
                display: none;
            }
        </style>

    </head>


    <body style="margin: 0; padding: 0;">
@using (Html.BeginForm("TrocaObrigatoriaSenhaExecute", "UserIdentity", FormMethod.Post, new { id = "formTrocaObrigatoriaSenha" }))
{
        <div class="login-page-wrap">
            @Html.AntiForgeryToken()
            <!-- ===== LOGIN ===== -->
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <img src="https://bucket-gdi-public-files.s3.sa-east-1.amazonaws.com/FilesImages/logoGdi.png" class="img-fluid">
                        </div>
                        <br/>
                    </div>

                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Aero FlightX</h1>
                        </div>
                        <br/>
                    </div>
                    <div class="troca-senha-fields">
                        <div class="alert alert-info">
                            Sua senha expirou. Informe a senha atual e defina uma nova senha para continuar.
                        </div>
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger">
                                <strong>@TempData["Error"]</strong>
                            </div>
                        }
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @readonly = "readonly", placeholder = "Usuário" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            @Html.PasswordFor(m => m.SenhaAtual, new { @class = "form-control", placeholder = "Senha atual", required = "required", autocomplete = "current-password" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                            @Html.PasswordFor(m => m.NovaSenha, new { @class = "form-control", placeholder = "Nova senha", required = "required", autocomplete = "new-password" })
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                            @Html.PasswordFor(m => m.ConfirmacaoNovaSenha, new { @class = "form-control", placeholder = "Confirmar nova senha", required = "required", autocomplete = "new-password" })
                        </div>
                        <div class="alert alert-info">
                            Nova senha: m&#237;nimo 8 caracteres, 1 mai&#250;scula, 1 min&#250;scula, 1 n&#250;mero e 1 s&#237;mbolo (ex.: ! @@ # $ % &amp; * etc.). N&#227;o pode ser igual &#224; senha atual nem a uma das 3 &#250;ltimas senhas utilizadas.
                        </div>
                        <button type="submit" class="btn btn-lg btn-success w-100"><i class="fa-solid fa-check">&nbsp;&nbsp;</i>Alterar senha</button>
                        @Html.ActionLink("Cancelar", "TrocaObrigatoriaSenhaCancelar", "UserIdentity", null, new { @class = "btn btn-lg btn-secondary w-100 mt-2" })
                    </div>
                </div>
            </div>
        </div>
}

<script type="text/javascript">
    $(function () {
        $('#SenhaAtual').focus();
    });
    $('#formTrocaObrigatoriaSenha').on('submit', function () {
        var nova = $('#NovaSenha').val() || '';
        var conf = $('#ConfirmacaoNovaSenha').val() || '';
        if (nova.length < 8) {
            LibMessageAlert('Atenção', 'A nova senha deve ter no mínimo 8 caracteres.');
            return false;
        }
        if (nova !== conf) {
            LibMessageAlert('Atenção', 'A nova senha e a confirmação não conferem.');
            return false;
        }
        LibMessageProcessando('Alterando senha...');
    });
</script>

    </body>
</html>
