@model GdiPlataform.Areas.gc.Models.cstModalRelatorio
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ModalRelatorioClientesFornecedores" }))
{
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-chart-bar fa-sm" aria-hidden="true"></i>
    @ViewBag.Title</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_01", "Ativo", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_01", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_01", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_02", "Cliente", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_02", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_02", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_03", "Fornecedor", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_03", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_03", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_04", "Transportadora", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_04", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_04", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_05", "Produtor Rural", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_05", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_05", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Field_Int_06", "Consultor Aviação", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("Field_Int_06", ViewBag.comboOpcoes as List<SelectListItem>, htmlAttributes: new { @id = "Field_Int_06", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Gerar Relatório</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs()
    {
        var valueDate1;
        var valueDate2;
        try
        {
            jsSendForm();
        }
        catch (exception) {
            GdiAjaxNotifyInconsistencias(exception.message);
        }
    }

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando();
            var form = $('#ModalRelatorioClientesFornecedores');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxModalRelatorioClientesFornecedores", "RelatoriosCadastrais", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function ()
                                    {
                                        window.location = '@Url.Action("AjaxGetFileProcessamento", "Global", new { Area = "g" })' + "?id=" + result.idProcessamento;
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.msg)            }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>




