@model GdiPlataform.Db.g_financeiro_lancamentos
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalIncluirLancamentos_gFinanceiroLancamentos" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-circle-info fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                <input type="hidden" id="inclusao" value="" name="inclusao" />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Faturamento", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.id_financeiro_faturamento, ViewBag.comboFinanceiroFaturamentos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Cliente", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.id_cliente, ViewBag.comboClientes as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Produto/Serviço", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.id_produto_servico, ViewBag.comboProdutosServicos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("edit_qtd", "Qtd", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-2">
                            @Html.EditorFor(model => model.qtd, new { htmlAttributes = new { @class = "form-control", data_autofocus = "true" } })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("edit_valor_unit", "R$ Unit.", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-2">
                            @Html.EditorFor(model => model.valor_unit_liquido, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal" onclick="jsLoadTable()"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Incluir Lançamento" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Incluir Lançamento</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });


    function jsLoadTable()
    {
        try
        {
            if (document.getElementById("inclusao").value != "")
            {
                ajaxPesquisarLancamentos();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsLoadTable] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }

    function jsCheckInputs()
    {
        try
        {
            var qtd = parseFloat(document.getElementById("qtd").value.toString());
            var valorUnit = parseFloat(document.getElementById("valor_unit_liquido").value.toString());
            if ((qtd > 0) && (valorUnit > -1))
            {
                jsSendForm();
            }
            else
            {
                LibMessageAlert("Atenção", "Informe correntamente os campos <b>Qtd</b> e <b>R$ Unit.</b>");
            }
        }
        catch (e)
        {
            GdiAjaxNotifyInconsistencias(e.message.toString(), { title: "Verifique as inconsistências!" });
        }
    };


    function jsSendForm()
    {
        try {
            LibMessageProcessando("Incluindo Lançamento . . .")
            var dataForm =
            {
                view_g_financeiro_lancamentos:
                {
                    'id_financeiro_faturamento': $('#id_financeiro_faturamento').val().toString(),
                    'id_cliente': $('#id_cliente').val().toString(),
                    'id_produto_servico': $('#id_produto_servico').val().toString(),
                    'qtd': $('#qtd').val().toString(),
                    'valor_unit_liquido': $('#valor_unit_liquido').val().toString().replace(".","")
                }
            };
            $.ajax({
                //cache: false,
                //async: true,
                type: "POST",
                url: '@Url.Action("ajaxIncluirLancamentos", "FinanceiroLancamentos", new { area = "g" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataForm),
                dataType: "json",
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    document.getElementById("inclusao").value = true;
                    if (result.success == true) {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>


