@model GdiPlataform.Areas.g.Models.cstFinanceiroLancamentos
@{ Layout = null; }

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalGerarFaturamento" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-circle-info fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Faturamento", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-8 text-sm-start">
                            @Html.DropDownListFor(model => model.id_financeiro_faturamento, ViewBag.comboFinanceiroFaturamentos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Conta Caixa", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-8 text-sm-start">
                            @Html.DropDownListFor(model => model.id_conta_caixa, ViewBag.comboContasCaixas as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Vencimento", new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-4 text-sm-start">
                            @* id do .input-group distinto do input (data_vencimento) para Tempus Dominus *@
                            <div class='input-group date' id='ig_g_modal_gerar_fat_venc'>
                                @Html.EditorFor(model => model.data_vencimento, new { htmlAttributes = new { @class = "form-control", type = "text", data_autofocus = "true" } })
                                <span class="input-group-text"><i class="fa-regular fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSimular" class="btn btn-info me-auto d-inline-flex align-items-center gap-2" onclick="jsCheckInputs(true)"><i class="fa-solid fa-sync me-2" aria-hidden="true"></i>Simular Faturamento</button>
                <button type="button" name="btnConfirmar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs(false)"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Gerar Faturamento</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

	$(function ()
    {
        try
        {
            jsDatepicker('#ig_g_modal_gerar_fat_venc');
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs(simulacao)
    {
        try {
            if (isEmpty($('#id_financeiro_faturamento').val()))
            {
                LibMessageAlert("Atenção", "Selecione o Faturamento!")
            }
            else if (isEmpty($('#id_conta_caixa').val()))
            {
                LibMessageAlert("Atenção", "Selecione a Conta Caixa!")
            }
            else
            {
                if (simulacao == true) { jsSimularGerarFaturamento(); }
                else { jsExecutarGerarFaturamento(); }
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


    function jsSimularGerarFaturamento()
    {
        try {
            LibMessageProcessando("Simulando Geração do Faturamento . . .")
            var form = $('#formModalGerarFaturamento');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxSimularGerarFaturamento", "FinanceiroLancamentos", new { area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Simulação de Geração de Faturamento</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function ()
                                    {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSimularGerarFaturamento] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsExecutarGerarFaturamento()
    {
        try {
            LibMessageProcessando("Gerando Faturamento . . .")
            var dataForm =
            {
                modal_cstFinanceiroLancamentos:
                {
                    'id_conta_caixa': $("#edit_conta_caixa").val(),
                    'id_financeiro_faturamento': $("#edit_faturamento").val(),
                    'data_vencimento': jsGetDateDDMMYYYY(jsDatepickerGetDate('#ig_g_modal_gerar_fat_venc'))
                }
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxExecutarGerarFaturamento", "FinanceiroLancamentos", new { area = "g" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataForm),
                dataType: "json",
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação de Geração de Faturamento</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        ajaxPesquisarLancamentos();
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsExecutarGerarFaturamento] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };


</script>


