@model GdiPlataform.Db.g_uf
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreateEdit_gUF" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(ViewBag.Title)</h5>
                    @Html.HiddenFor(model => model.id_uf)
                    @Html.HiddenFor(model => model.sigla)
                    @Html.HiddenFor(model => model.nome)
                    @Html.HiddenFor(model => model.id_usuario_cadastro)
                    @Html.HiddenFor(model => model.datahora_cadastro)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-header m-0 p-1">
                    <ul class="nav nav-tabs" id="crud-tabs" role="tablist">
                        <li class="nav-item"><a class="d-flex align-items-center nav-link active" id="tabDados_tab" data-bs-toggle="pill" href="#tabDados" role="tab" aria-controls="crud-tabs" aria-selected="true"><i class="fa-solid fa-file-pen fa-sm" aria-hidden="true"></i>Dados</a></li>
                    </ul>
                </div>
                <div class="card-body m-0 p-1" style="height: 100%">
                    <div class="form-horizontal m-0 p-0">
                        <div class="tab-content" id="crud-tabs-content">
                            <div class="tab-pane fade show active" id="tabDados" role="tabpanel" aria-labelledby="tabDados_tab">

                                <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                                    <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados da UF</div>
                                    <div class="card-body m-0 p-1" style="height: 100%">
                                        <div class="card-body m-0 p-1" style="height: 100%">
                                            <div class="form-group row text-sm-end m-0 pt-1">
                                                @Html.Label("sigla", "Sigla", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.sigla, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                                </div>
                                            </div>
                                            <div class="form-group row text-sm-end m-0 pt-1">
                                                @Html.Label("nome", "Nome", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                                    <div class="section-header"><i class="fa-solid fa-circle-info me-1" aria-hidden="true"></i>Parâmetros Base MG</div>
                                    <div class="card-body m-0 p-1" style="height: 100%">
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Interno (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basemg_icms_percentual_interno, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Interestadual (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basemg_icms_interestadual, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Base Redução (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basemg_icms_base_reducao, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                                    <div class="section-header"><i class="fa-solid fa-circle-info me-1" aria-hidden="true"></i>Parâmetros Base SP</div>
                                    <div class="card-body m-0 p-1" style="height: 100%">
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Interno (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basesp_icms_percentual_interno, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Interestadual (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basesp_icms_interestadual, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group row text-sm-end m-0 pt-1">
                                            @Html.Label("ICMS - Base Redução (%)", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                            <div class="col-sm-2">
                                                @Html.EditorFor(model => model.basesp_icms_base_reducao, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between m-0 p-1">
                    <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="jsYesCancelRecord('@Url.Action("","UF",new { Area = "g" })')"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                    <button type="button" name="btnSalvar" title="Salvar" onclick="jsSalvarDados()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSalvarDados() {
        GdiSalvarDados({ campos: [{ id: '#sigla', label: 'Sigla' }], formId: '#formCreateEdit_gUF' });
    };
</script>
