@model GdiPlataform.Areas.a.Models.cstFiltroModel
@{Layout = null;}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "modalFiltroGenericoView_aFiltros" }))
{
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title">@Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-1">
                <div class="form-horizontal m-0 p-0">
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.LabelFor(model => model.descricao_campo, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.nome_campo, ViewBag.comboFiltroCampos as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Operador", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-6">
                            <select class="form-control form-control" id="filterOperador">
                                <option>=</option>
                                <option><></option>
                                <option>></option>
                                <option>>=</option>
                                <option><</option>
                                <option><=</option>
                                <option>Nulo</option>
                                <option>Não Nulo</option>
                                <option>Contém</option>
                                <option>Não Contém</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Filtro", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="filterText" placeholder="Filtro" onkeypress="keypressed(event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnExec" title="Filtrar" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsRunFiltroDefaultModal()">Filtrar</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function keypressed(e) {
        if (e.keyCode == 13) { e.preventDefault(); jsRunFiltroDefaultModal(); }
    }

    function jsHideBootstrapModal() {
        var el = document.getElementById('mainModal') || document.querySelector('.modal.show');
        if (el && typeof bootstrap !== 'undefined' && bootstrap.Modal) {
            var inst = bootstrap.Modal.getInstance(el);
            if (inst) inst.hide();
        }
    }


    function jsRunFiltroDefaultModal()
    {
        try
        {
            if (isEmpty($('#filterText').val().toString().trim()))
            {
                if (($('#filterOperador').val().toString().trim() != "Nulo") && ($('#filterOperador').val().toString().trim() != "Não Nulo"))
                {
                    LibMessageAlert("Atenção", "Preencha corretamente o campo <b>Filtro</b>", { size: 'small' });
                }
                else {
                    jsRunFiltroDefault($('#nome_campo').val().toString(), $('#filterOperador').val().toString(), $('#filterText').val().toString());
                    jsHideBootstrapModal();
                }
            }
            else {
                jsRunFiltroDefault($('#nome_campo').val().toString(), $('#filterOperador').val().toString(), $('#filterText').val().toString());
                jsHideBootstrapModal();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsRunFiltroDefaultModal] " + (err && err.message ? err.message.toString() : String(err)));
        }
    }
</script>
