@model GdiPlataform.Db.gc_movimentos_financeiros
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalCancelarMovimentoFinanceiro" }))
{
<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header m-0 p-1">
            <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
            @Html.HiddenFor(model => model.id_movimento_financeiro)
            @Html.HiddenFor(model => model.id_movimento)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        </div>
        <div class="modal-body m-0 p-1">
            <div class="form-horizontal m-0 p-0">
                @if (!string.IsNullOrEmpty(ViewBag.MsgBloqueio as string))
                {
                    @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(ViewBag.MsgBloqueio as string, "danger"))
                }
                else
                {
                    @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(ViewBag.MsgAdvertencia as string, "warning"))
                    <div class="form-group row text-sm-end m-0 pt-1">
                        @Html.Label("Motivo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.motivo_cancelamento, new { htmlAttributes = new { @class = "form-control", maxlength = "80" } })
                        </div>
                    </div>
                    }
            </div>
        </div>
        <div class="modal-footer justify-content-between m-0 p-1">
            <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
            @if (string.IsNullOrEmpty(ViewBag.MsgBloqueio as string))
            { 
                <button type="button" id="btnSalvar" name="btnSalvar" title="Cancelar Lançamento" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Cancelar Movimento Financeiro</button>
            }
        </div>
    </div>
</div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs()
    {
        try
        {
            if (isEmpty($('#motivo_cancelamento').val().toString().trim()))
            {
                GdiAjaxNotifyInconsistencias("Informe o <b>Motivo</b> do cancelamento!");
                $('#motivo_cancelamento').focus();
            }
            else
            {
                jsSendForm();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsSendForm()
    {
        try {
            document.getElementById('btnSalvar').disabled = true;
            LibMessageProcessando("Cancelando Movimento Financeiro . . .")
            var form = $('#formModalCancelarMovimentoFinanceiro');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxModalCancelarMovimentoFinanceiro", "FinanceiroLancamentos", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                                                LibMessageSuccess("Confirmação", result.msg, {
                            backdrop: true,
                            callback: function () {
                            jsAjaxPesquisarMovimentos();
                            document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                            LibMessageHideAll();
                            }
                        });
                    }
                    else
                    {
                        document.getElementById('btnSalvar').disabled = false;
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    document.getElementById('btnSalvar').disabled = false;
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
