@model GdiPlataform.Db.gc_comex_financeiro
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formModalCancelarComexFinanceiro" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-ban fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                @Html.HiddenFor(model => model.id_financeiro)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-2">
                <div class="form-horizontal m-0 p-0">
                    <div class="card-body m-2 p-2" style="height: 100%">
                        @if (!string.IsNullOrEmpty(ViewBag.MsgAdvertencia as string))
                        {
                            @Html.Partial("_AlertMsg", AlertMsgItem.Maybe(ViewBag.MsgAdvertencia as string, "danger", "<b>Atenção Usuário, verifique as advertências!</b><br />"))
                        }
                        else
                        {
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("Motivo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.motivo_cancelamento, new { htmlAttributes = new { @class = "form-control", maxlength = "80" } })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                @if (string.IsNullOrEmpty(ViewBag.MsgAdvertencia as string))
                {
                    <button type="button" name="btnSalvar" title="Cancelar Lançamento" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsCheckInputs()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Cancelar Pagamento Comex</button>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsCheckInputs()
    {
        try
        {
            if (isEmpty($('#motivo_cancelamento').val().toString().trim()))
            {
                GdiAjaxNotifyInconsistencias("Informe o <b>Motivo</b> do cancelamento!");
                $('#motivo_cancelamento').focus();
            }
            else
            {
                jsSendForm();
            }
        }
        catch (err) {
            LibMessageError("Atenção", "[jsCheckInputs] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };

    function jsSendForm()
    {
        try
        {
            LibMessageProcessando("Cancelando Pagamento Comex . . .")
            var form = $('#formModalCancelarComexFinanceiro');
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("AjaxModalCancelarComexFinanceiro", "ComexFinanceiro", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true) {
                        LibMessageDialog({
                            title: "Confirmação",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: 'OK',
                                    callback: function () {
                                        jsAjaxPesquisarComexFinanceiro();
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        LibMessageHideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg)
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>




