@model GdiPlataform.Db.g_usuarios
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreateEdit_gUsuarios" }))
{
    <div class="row">
        <div class="col-lg-12 m-0 p-0">
            <div class="card m-0 p-0">
                <div class="card-title m-0 p-1">
                    <h5>@Html.Raw(ViewBag.Title)</h5>
                    @Html.HiddenFor(model => model.id_usuario)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-body m-0 p-2" style="height: 100%">
                    <div class="form-horizontal m-0 p-0">
                        <div class="card shadow-sm gdi-section-accent-secondary m-1 p-0">
                            <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados do Usuário</div>
                            <div class="card-body m-0 p-1" style="height: 100%">
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.ativo, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-1 text-sm-start" style="margin-top:7px">
                                        <div class="form-check form-switch form-switch-lg">
                                            @Html.CheckBoxFor(model => model.ativo, new { @class = "form-check-input switch-success", role = "switch" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", data_autofocus = "true" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.senha, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.id_perfil, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4 input-group-sm">
                                        @Html.DropDownListFor(model => model.id_perfil, ViewBag.comboPerfil as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.id_logomarca, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4 input-group-sm">
                                        @Html.DropDownListFor(model => model.id_logomarca, ViewBag.comboLogomarca as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.id_coligada, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4 input-group-sm">
                                        @Html.DropDownListFor(model => model.id_coligada, ViewBag.comboColigada as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row text-sm-end m-0 pt-1">
                                    @Html.LabelFor(model => model.id_filial, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-4 input-group-sm">
                                        @Html.DropDownListFor(model => model.id_filial, ViewBag.comboFilial as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-between m-0 p-1">
                    <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" onclick="jsYesCancelRecord('@Url.Action("","Usuarios",new { Area = "g" })')"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                    <button type="button" name="btnSalvar" title="Salvar" onclick="jsSalvarDados()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Salvar</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitForm();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitForm]" + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsSalvarDados() {
        GdiSalvarDados({
            campos: [
                { id: '#email', label: 'Email' },
                { id: '#nome', label: 'Nome' },
                { id: '#login', label: 'Login' },
                { id: '#senha', label: 'Senha' }
            ],
            formId: '#formCreateEdit_gUsuarios'
        });
    };
</script>


