@model GdiPlataform.Db.g_cidades
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormModalCreateEditGCidades" }))
{
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">@Html.Raw(ViewBag.Title)</h5>
                @Html.HiddenFor(model => model.id_cidade)
                @Html.HiddenFor(model => model.id_usuario_cadastro)
                @Html.HiddenFor(model => model.datahora_cadastro)
                @Html.HiddenFor(model => model.id_coligada)
                @Html.HiddenFor(model => model.id_filial)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-2">
                <div class="form-horizontal m-0 p-0">
                    <div class="card shadow-sm gdi-section-accent-secondary m-0 p-0">
                        <div class="section-header"><i class="fa-solid fa-file-pen me-1" aria-hidden="true"></i>Dados da Cidade</div>
                        <div class="card-body m-0 p-1">
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.Label("ativo", "Ativo", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-1 text-sm-start" style="margin-top:7px;">
                                    <div class="form-check form-switch form-switch-lg">
                                        @Html.CheckBoxFor(model => model.ativo, new { @class = "form-check-input switch-success", role = "switch" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-sm-end m-0 pt-1">
                                @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", data_autofocus = "true" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Salvar" onclick="jsAjaxCreateEditCidade()" class="btn btn-success float-end d-inline-flex align-items-center gap-2"><i class="fa-solid fa-save me-2" aria-hidden="true"></i>Salvar</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
            getValidationSummary(@Html.Raw(Json.Encode(((@Html.ValidationSummary()==null)?"":@Html.ValidationSummary().ToHtmlString()))));
        }
        catch (err) {
            LibMessageError("Atenção", "[jsInitModal] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });

    function jsAjaxCreateEditCidade()
    {
        try
        {
            if (isEmpty($('#nome').val() == null ? '' : $('#nome').val().toString().trim())) {
                LibMessageAlert('Atenção', 'Campo <b>Nome</b> é de preenchimento obrigatório!');
                return;
            }

            LibMessageProcessando('Salvando cidade...');
            var form = $('#FormModalCreateEditGCidades');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AjaxCreateEditCidade", "Cidades", new { area = "g" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success === true)
                    {
                        document.querySelectorAll('.modal').forEach(function (m) { var i = bootstrap.Modal.getInstance(m); if (i) i.hide(); });
                        if (typeof otableGCidades !== 'undefined' && otableGCidades) {
                            otableGCidades.draw(false);
                        } else {
                            $('#dtGCidades').DataTable().draw(false);
                        }
                        LibMessageHideAll();
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias((result && result.msg) ? result.msg : 'Verifique as inconsistências.');
                }
                },
                error: function (xhr, textStatus, errorThrown)
                {
                    LibMessageProcessandoHide();
                    GdiAjaxNotifyInconsistencias(errorThrown || textStatus || 'Verifique as inconsistências.');
                }
            });
        }
        catch (err) {
            LibMessageProcessandoHide();
            LibMessageError('Atenção', '[jsAjaxCreateEditCidade] ' + (err && err.message ? err.message.toString() : String(err)));
        }
    };

</script>
