@model GdiPlataform.Db.gc_estoque_inventario
@using GdiPlataform.Security
@{ Layout = "~/Views/Shared/_Modal.cshtml"; }
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ModalCreateInventario" }))
{
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header m-0 p-1">
                <h5 class="modal-title d-flex align-items-center gap-2">
    <i class="fa-solid fa-circle-info fa-sm" aria-hidden="true"></i>
    @Html.Raw(ViewBag.Title)</h5>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </div>
            <div class="modal-body m-0 p-0">
                <div class="form-horizontal m-0 p-0">
                    <br/>
                    <div class="form-group row text-sm-end m-1 p-1">
                        @Html.Label("Local Estoque", "Local Estoque:", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-6 text-sm-start">
                            @Html.DropDownListFor(model => model.id_local_estoque, ViewBag.comboLocaisEstoque as List<SelectListItem>, new { @class = "form-control", @data_container = "body" })
                        </div>
                    </div>
                    <br/>
                    <br/>
                        <div class="form-group row text-sm-end m-0 pt-1">
                            @Html.Label("ajustes", "Ajustes", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-10 text-sm-start" style="margin-top:7px;">
                                <div class="form-check form-switch d-inline-flex align-items-start flex-nowrap">
                                    @Html.CheckBoxFor(model => model.ajustes, new { @class = "form-check-input switch-success", role = "switch" })
                                    <span class="form-check-label ms-2 mb-0">Opção a ser utilizada EXCLUSIVAMENTE para os inventários do tipo AJUSTES.</span>
                                </div>
                            </div>
                        </div>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="modal-footer justify-content-between m-0 p-1">
                <button type="button" name="btnCancelar" title="Cancelar" class="btn btn-warning me-auto d-inline-flex align-items-center gap-2" data-bs-dismiss="modal"><i class="fa fa-undo me-2" aria-hidden="true"></i>Cancelar</button>
                <button type="button" name="btnSalvar" title="Confirmar Item" class="btn btn-success d-inline-flex align-items-center gap-2" onclick="jsSendForm()"><i class="fa-solid fa-check me-2" aria-hidden="true"></i>Abrir Inventário</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(function ()
    {
        try
        {
            jsInitModal();
        }
        catch (err)
        {
            LibMessageError("Atenção", "[jsInitForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    });


    function jsSendForm()
    {
        try
        {
            LibMessageProcessando("");
            var form = $('#ModalCreateInventario');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AjaxCreateInventario", "EstoqueInventario", new { area = "gc" })',
                data: form.serialize(),
                success: function (result)
                {
                    LibMessageProcessandoHide();
                    if (result.success == true)
                    {
                        GdiSwal2.dialog({
                            title: "<i class='fa-solid fa-check' style='color:#008000'>&nbsp&nbsp</i><b>Confirmação</b>",
                            closeButton: false,
                            message: result.msg,
                            centerVertical: true,
                            onEscape: false,
                            backdrop: true,
                            buttons: {
                                confirmar: {
                                    label: '&nbsp;OK',
                                    className: 'btn btn-info',
                                    callback: function () {
                                        document.querySelectorAll('.modal').forEach(function(m){var i=bootstrap.Modal.getInstance(m);if(i)i.hide();});
                                        $("#dtGcInventario").DataTable().draw(false);
                                        GdiSwal2.hideAll();
                                    }
                                }
                            }
                        })
                    }
                    else
                    {
                        GdiAjaxNotifyInconsistencias(result.msg);
                    }
                },
                error: function (result)
                {
                    GdiAjaxNotifyInconsistencias(result.toString());
                }
            });
        }
        catch (err) {
            LibMessageError("Atenção", "[jsSendForm] " + (err && err.message ? err.message.toString() : String(err)));
        }
    };
</script>


